[id*='leisure']  canvas{ 
  // position: absolute;
  right: 0;
  top: 0;
  width: 50vw !important;
  height: 50vh !important;
}

.front-block {
  position: relative;
  display: flex;
  &>*{
    width: 50%;
  }
  .info-list-item{
    max-width: none;
    margin-left: 0;
    margin-right: 0;
    cursor: pointer;
  }
  .active[data-hover-image] {
    
    color: var(--color-design);
  }
}
symbol.active path {
  fill: var(--color-design);
}
.front-block__bg{
  display: none;
}

.front-block canvas {
  pointer-events: none;
}