footer.footer.brd
  p.footer-copy © 2020 KyЇvproekt City space
  .footer-dev
    .footer-dev__text Розробка сайту
    a(href="https://smarto.agency/" rel="nofollow" target="_blank").footer-dev__link.underline Smart Orange