
extends ../layout/main
block variable
  -
    var title_page = 'Контакти'
    var id_page = 'id-page-contacts'
    var class_page = 'class-page-contacts'
    var breadcrumbsSubitem = [
      {
        label: 'About',
        link: pagesLink[0].about
      }
    ]
  
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/contacts.js')
block content
  include ../includes/breadcrumbs.pug
  
  .title-wrap
    h2.title Контакти
  .contact-block
    .contact-block__l
      address.home-contact--width.contact-location.df.fdc.aifs
        span.contact-location__label Розташування:
        p.contact-location__adress Київ, Шевченківський район, вул. Богдана Хмельницкого, 16-22
        +a('Показати на Google Maps', "https://goo.gl/maps/FzURhcCMKHm3cupV6")(rel="nofollow" target="_blank").home-section-appartments__btn

      .home-contact--width.contact-schedule.df.fww
        span.contact-schedule__label.w100p Відділ продажів:
        .contact-schedule-l.df.fdc
          a(href="tel:+1234567890").contact-schedule__phone +1234567890
          a(href="mailto:info@kyivproekt.ua").contact-schedule__mail.underline info@kyivproekt.ua
        .contact-schedule-r
          ul.contact-schedule__time
            li Пн-пт: 09:00-19:00
            li Сб: 09:00-17:00
            li Вс: вихідний
    .contact-block__r
      h5.form-label.home-contact--width Залишились питання?
      form(data-home-contact autocomplete="off").home-contact--width
        .form-field-message Введіть ваше ім’я 
        .form-field.form-field-input(data-field-input data-field-name data-status="field--inactive")
          input(type='text' name="name" placeholder="Ім’я:").form-field__input
          .input-message(data-input-message)
          .requaired-block-ico.requaired-block-ico--position
            +svg('requaired')
        
        .form-field-message Введіть ваш телефон
        .form-field.disabled.form-field-input(data-field-input data-field-phone data-status="field--inactive")
          input(type='text' name="phone" placeholder="Телефон:").form-field__input
          .input-message(data-input-message)
          .requaired-block-ico.requaired-block-ico--position
            +svg('requaired')
          .mask-absolute.js-mask-absolute
        
        .form-textarea
          .form-field-message Введіть ваше повідомлення
          textarea(placeholder="Повідомлення:")
        
        .form-btn-wrap.df.jcsb.aic
          .requaired-block.df
            .requaired-block__ico
              +svg('requaired')
            .requaired-block__text обов’язкові поля для
              br
              | заповнення
          +btn('Надіслати')(type="submit" data-btn-submit).home-contact-btn--size
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
