extends ../layout/main
block variable
  -
    var title_page = 'Home'
    var id_page = 'index-page'
    var class_page = 'index-page'
    var breadcrumbsBtn = 'filter'
    var breadcrumbsSubitem = [
      {
        label: 'About',
        link: pagesLink[0].about
      }
    ]
    var liveText = ['Для тих, хто хоче жити у самому серці столиці,<b> але не готовий жертвувати власною приватністю і комфортом.</b> ', '<b>Жити в серці міста,</b> в оточенні найбільш передової та трендової екосистеми.', '<b>Насолоджуватися</b> неперевершеним видом на місто.', 'Усе найбільш надихаюче, модне та актуальне — <b>у твоєму будинку.</b>', '<b>Користуватися найбільш сучасними</b> технологіями для життя.', 'Жити тут – це означає<b> жити у центрі тяжіння.</b>',]
    var workText = ['Панорама міста, <b>яка надихає.</b>', 'Зручно доставатися у будь-яку точку центру.', '<b>Супер-сучасний коворкінг</b> у будинку.', '<b>Зручно доставатися</b> поблизу.']
    var restText = ['<b>Десятки магазинів,</b> торгівельних центрів, кафе, ресторанів та нічних клубів поряд.', '<b>KITCHEN LAB у будинку:</b> велика кількість кафе і ресторанів під одним дахом.', '<b>Головна київська променада,</b> вулиця Хрещатик – 2 хвилини пішки.', 'KYЇVPROEKT CITY SPACE у будинку <b>– ідеальне місце для шопінгу.</b>', '<b>Чудові місця для пробіжок поблизу:</b> парк ім. Шевченка, Ботанічний сад ім. Фоміна.']
    var customText1 = ['Місце гордості та сили в серці столиці.', 'Поліфункциональний міський простір із комерційною, соціальною та освітньою функціями.', 'Масштабна платформа для найбільш передових брендів та ініціатив – в першу чергу, українських.', 'Більше 100 компаній та організацій резидентів.']
    var valuesSl = [
      {
        title: 'Синергія',
        ico: [1,2,3],
        valuesItem: ["<b>Об'єднуємо таланти</b> заради позитивної трансформації Києва", "<b>KYЇVPROEKT – це экосистема,</b> яку усі стейкхолдери створюють разом", "Архітектура, дизайн, мистецтво та технології, доповнюючи один одне, створюють <b>нову життєву філософію</b>"]
      },
      {
        title: 'Відкритість',
        ico: [4,5,6],
        valuesItem: ['Відкритиість <b>місту</b>','Відкритиість <b>людям</b>','Відкритість <b>інноваціям</b>']
        
      },
      {
        title: 'Поліфункціональність',
        ico: [7,8,9],
        valuesItem: ['<b>Головне – це функція,</b> яка визначає форму','<b>Функціональна різноманітність,</b> яка враховує інтереси усіх стейкхолдерів','<b>Гармонія</b> між корпоративними та публічними просторами']
      },
      {
        title: 'Соціальна значимість',
        ico: [10, 11, 12],
        valuesItem: ['KYЇVPROEKT – це Будинок Культури. <b>Нової Культури.</b>', '<b>Ми підтримуємо найбільш талановиті та новаторські проекти</b> в галузі архітектури, мистецтва, дизайну і технологій', '<b>Ми формуємо надихаючий контекст</b> для народження ідей, які змінюють майбутнє']
      },
    ]
    var accordeonItems = [
      'Fashion LAB',
      'Healthy LAB',
      'Smart LAB',
      'Education LAB',
      'Освітня платформа',
      'Коворкінг',
      'Media LAB',
      'Kids LAB',
      'Kitchen LAB',
    ]
    var valueOpening = [
      ['values-opening-01','Відкритиість <span class="bold"> місту</span>'],
      ['values-opening-02','Відкритиість <span class="bold"> людям</span>'],
      ['values-opening-03','Відкритість <span class="bold"> інноваціям</span>'],
    ]
    var valuePoly = [
      ['values-poly-01','<span class="bold">Головне – це функція,</span> яка визначає форму'],
      ['values-poly-02','<span class="bold">Функціональна різноманітність,</span> яка враховує інтереси усіх стейкхолдерів'],
      ['values-poly-03','<span class="bold">Гармонія</span> між корпоративними та публічними просторами'],
    ]
    var valueSocial = [
      ['values-social-01','KYЇVPROEKT – це Будинок Культури. <span class="bold">Нової Культури</span>'],
      ['values-social-02','<span class="bold">Ми підтримуємо найбільш талановиті та новаторські проєкти</span> в галузі архітектури, мистецтва, дизайну та технологій'],
      ['values-social-03','<span class="bold">Ми формуємо надихаючий контекст</span> для народження ідей, які змінюють майбутнє'],
    ]
    var valueSymergy = [
      ['values-synergy-01','<span class="bold">Об\'єднуємо таланти</span> заради позитивної трансформації Києва'],
      ['values-synergy-02','<span class="bold">KYЇVPROEKT – це экосистема,</span> яку усі стейкхолдери створюють разом'],
      ['values-synergy-03','Архітектура, дизайн, мистецтво та технології, доповнюючи один одне, створюють <span class="bold">нову життєву філософію</span>'],

    ]



block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/home.js')
block content
  //- include ../includes/breadcrumbs.pug
  // -----------------------------------
  // -----------------------------------
  // -----------------------------------
  section.ms
    .ms__slider-wrap
      .ms__slider-nav
        button(data-prev)
          <svg  width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="50" height="50" fill="#EA4041"/>
            <path d="M29 17L22.3182 24.5L29 32" stroke="white"/>
            </svg>
        button(data-next)
          <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="50" height="50" fill="#0065FB"/>
            <path d="M22 17L28.6818 24.5L22 32" stroke="white"/>
            </svg>
      .swiper-container
        .swiper-wrapper
          +img(src="./assets/images/home/main-screen-slide.jpg").swiper-slide
          +img(src="./assets/images/gallery/KP_VIEW_1_FINAL.jpg").swiper-slide
          +img(src="./assets/images/gallery/KP_VIEW_2_FINAL.jpg").swiper-slide
          +img(src="./assets/images/home/main-screen-slide.jpg").swiper-slide
    .ms__text-wrap
      <svg data-cubes-anim data-stagger class="ms__text-decor ms__text-decor_left" width="150" height="250" viewBox="0 0 150 250" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path data-cubes data-from-top d="M50 100H0V150H50V100ZM25.1 124.15L13.55 112.7L25 101.25L36.5 112.75L25.1 124.15ZM24.15 124.9L12.7 136.45L1.25 125L12.75 113.5L24.15 124.9ZM24.9 125.8L36.45 137.25L25 148.7L13.5 137.2L24.9 125.8ZM25.85 125.1L37.3 113.55L48.75 125L37.25 136.5L25.85 125.1ZM38 112.8L48.95 101.8V123.75L38 112.8ZM48.2 101.05L37.2 112.05L26.2 101.05H48.2V101.05ZM12.8 111.95L1.8 101H23.75L12.8 111.95ZM1.05 101.75L12.05 112.75L1.05 123.75V101.75ZM11.95 137.15L1 148.15V126.25L11.95 137.15ZM1.8 148.95L12.8 137.95L23.8 148.95H1.8ZM37.2 138L48.2 148.95H26.25L37.2 138ZM48.95 148.2L37.95 137.2L48.95 126.2V148.2Z" fill="black" fill-opacity="0.25"/>
        <path data-cubes data-from-top d="M100 150H50V200H100V150ZM83.75 191.95C79.2 191.95 75.55 188.25 75.55 183.75C75.55 179.2 79.25 175.55 83.75 175.55C88.3 175.55 91.95 179.25 91.95 183.75C92 188.25 88.3 191.95 83.75 191.95ZM92 188V191.95H88.05C89.7 191.05 91.1 189.7 92 188ZM83.75 174.45C78.65 174.45 74.5 178.6 74.5 183.7C74.5 187.25 76.55 190.35 79.5 191.9H58.05V175.45H75.55V157.95H92V179.4C90.45 176.5 87.35 174.45 83.75 174.45ZM58.05 174.45V158H74.5V174.45H58.05ZM92.3 157H75.55H57.75L51.8 151.05H98.25L92.3 157ZM57 157.75V175.55V192.3L51.05 198.25V151.8L57 157.75ZM57.75 193H92.3L98.25 198.95H51.8L57.75 193ZM93.05 192.25V157.7L99 151.75V198.2L93.05 192.25Z" fill="black" fill-opacity="0.25"/>
        <path data-cubes data-from-top d="M50 50.55V99.5V100H100V50H50V50.55V50.55ZM53.35 57.35L74.15 98.95H67.2L53.35 57.35ZM66.1 98.95H58.5L51.95 56.55L66.1 98.95ZM54.75 57.8L82.2 98.95H75.3L54.75 57.8ZM56.4 58.4L90.2 98.95H83.45L56.4 58.4ZM58.3 59.05L98.2 98.95H91.55L58.3 59.05ZM96.65 92.65L75.85 51.05H82.8L96.65 92.65ZM83.9 51.05H91.5L98.05 93.45L83.9 51.05ZM95.25 92.2L67.8 51.05H74.65L95.25 92.2ZM93.6 91.6L59.8 51.05H66.55L93.6 91.6ZM91.7 90.95L51.8 51.05H58.45L91.7 90.95ZM51.05 57.35L57.45 98.95H51.05V57.35ZM98.95 92.65L92.55 51.05H98.95V92.65Z" fill="black" fill-opacity="0.25"/>
        <path data-cubes data-from-top d="M50 250V200H0V250H50ZM44 202.2C42.2 205.1 38.85 210.55 38.85 216.85C38.85 219.6 40.45 222.5 41.95 225.25C43.4 227.9 44.95 230.65 44.95 233.15C44.95 237.6 43.45 239.45 41.9 241.45C40.45 243.25 39 245.15 38.9 248.95H34.8C34.9 245.45 35.75 243.75 36.7 242C37.75 240 38.85 237.9 38.85 233.15C38.85 230.45 37.8 227.6 36.8 224.85C35.8 222.15 34.8 219.4 34.8 216.85C34.8 210.75 37 205.45 38.15 202.6C38.45 201.85 38.65 201.35 38.75 201.05H44.75C44.5 201.35 44.25 201.75 44 202.2ZM37.2 202.25C36 205.15 33.8 210.55 33.8 216.85C33.8 219.55 34.85 222.4 35.85 225.2C36.85 227.9 37.85 230.65 37.85 233.2C37.85 237.7 36.8 239.65 35.8 241.6C34.85 243.4 33.9 245.25 33.8 249H29.65C29.7 245.45 30.15 243.75 30.6 241.95C31.1 239.95 31.65 237.9 31.65 233.2C31.65 230.55 31.15 227.7 30.65 224.95C30.15 222.25 29.65 219.45 29.65 216.85C29.65 210.7 30.75 205.4 31.35 202.55C31.5 201.85 31.6 201.4 31.65 201.05H37.7C37.55 201.4 37.35 201.8 37.2 202.25ZM30.35 202.35C29.75 205.25 28.65 210.6 28.65 216.85C28.65 219.5 29.15 222.35 29.65 225.1C30.15 227.8 30.65 230.6 30.65 233.15C30.65 237.7 30.1 239.7 29.6 241.65C29.15 243.45 28.65 245.3 28.6 248.95H25.4V201.05H30.6C30.55 201.4 30.45 201.85 30.35 202.35ZM24.5 248.95H21.35C21.3 245.25 20.85 243.4 20.35 241.65C19.85 239.7 19.3 237.7 19.3 233.15C19.3 230.55 19.8 227.8 20.3 225.1C20.8 222.35 21.3 219.5 21.3 216.85C21.3 210.6 20.2 205.25 19.6 202.35C19.5 201.85 19.4 201.4 19.35 201.05H24.45V248.95H24.5ZM18.7 202.55C19.3 205.4 20.4 210.7 20.4 216.85C20.4 219.45 19.9 222.25 19.4 224.95C18.9 227.7 18.4 230.5 18.4 233.2C18.4 237.85 18.95 239.95 19.45 241.95C19.9 243.75 20.35 245.45 20.4 249H16.25C16.15 245.25 15.2 243.4 14.25 241.6C13.25 239.7 12.2 237.7 12.2 233.2C12.2 230.65 13.2 227.9 14.2 225.2C15.2 222.45 16.25 219.6 16.25 216.85C16.25 210.55 14.05 205.15 12.85 202.25C12.65 201.8 12.5 201.4 12.35 201.05H18.4C18.45 201.4 18.55 201.85 18.7 202.55ZM11.9 202.6C13.05 205.45 15.25 210.75 15.25 216.85C15.25 219.4 14.25 222.15 13.25 224.85C12.25 227.6 11.2 230.45 11.2 233.15C11.2 237.9 12.3 239.95 13.35 242C14.3 243.75 15.15 245.45 15.25 248.95H11.1C10.95 245.15 9.50001 243.3 8.10001 241.45C6.55001 239.45 5.05 237.6 5.05 233.15C5.05 230.65 6.55 227.9 8.05 225.25C9.6 222.45 11.15 219.6 11.15 216.85C11.15 210.5 7.8 205.1 6 202.2C5.75 201.8 5.5 201.4 5.3 201.1H11.3C11.4 201.4 11.6 201.85 11.9 202.6ZM48.95 248.95H39.85C39.95 245.5 41.25 243.85 42.65 242.05C44.25 240 45.9 237.9 45.9 233.15C45.9 230.4 44.3 227.55 42.8 224.75C41.35 222.1 39.8 219.3 39.8 216.8C39.8 210.75 43.05 205.5 44.8 202.65C45.3 201.85 45.6 201.35 45.75 201H48.9V248.95H48.95ZM1.05 201.05H4.20001C4.35001 201.4 4.65001 201.9 5.15001 202.7C6.90001 205.55 10.15 210.8 10.15 216.85C10.15 219.35 8.65001 222.1 7.15001 224.8C5.65001 227.55 4.05 230.45 4.05 233.2C4.05 237.95 5.7 240.1 7.3 242.1C8.7 243.85 10 245.55 10.1 249H1V201.05H1.05Z" fill="black" fill-opacity="0.25"/>
        <path data-cubes data-from-top d="M0 0V50H50V0H0ZM25 21.4C23.5 16.3 18.85 12.5 13.3 12.25C13.55 5.99999 18.7 1.05 25 1.05C31.3 1.05 36.45 6.04999 36.7 12.25C31.15 12.5 26.5 16.25 25 21.4ZM36.7 13.3C36.4 19.3 31.6 24.15 25.55 24.45C25.85 18.4 30.65 13.55 36.7 13.3ZM36.7 36.65C30.7 36.35 25.85 31.55 25.55 25.5C31.6 25.8 36.4 30.65 36.7 36.65ZM24.45 24.45C18.45 24.15 13.6 19.35 13.3 13.3C19.35 13.55 24.15 18.4 24.45 24.45ZM1.05 1.05H19.95C15.55 2.95 12.45 7.24999 12.25 12.25C7.2 12.45 2.95 15.55 1.05 19.95V1.05V1.05ZM12.25 13.3C12.5 18.85 16.25 23.5 21.4 25C16.3 26.5 12.5 31.15 12.25 36.7C6 36.45 1.05 31.3 1.05 25C1.05 18.7 6.05 13.55 12.25 13.3ZM24.45 25.55C24.15 31.55 19.35 36.4 13.3 36.7C13.6 30.65 18.45 25.8 24.45 25.55ZM1.05 48.95V30.05C2.95 34.45 7.25 37.55 12.25 37.75C12.45 42.8 15.55 47.05 19.95 48.95H1.05ZM13.3 37.7C18.85 37.45 23.5 33.7 25 28.55C26.5 33.65 31.15 37.45 36.7 37.7C36.45 43.95 31.3 48.9 25 48.9C18.7 48.95 13.6 43.95 13.3 37.7ZM48.95 48.95H30.05C34.45 47.05 37.55 42.75 37.75 37.75C42.8 37.55 47.05 34.45 48.95 30.05V48.95V48.95ZM37.75 36.65C37.5 31.1 33.75 26.45 28.6 24.95C33.7 23.45 37.5 18.8 37.75 13.25C44 13.5 48.95 18.65 48.95 24.95C48.95 31.25 43.95 36.4 37.75 36.65ZM48.95 19.95C47.05 15.55 42.75 12.45 37.75 12.25C37.55 7.19999 34.45 2.95 30.05 1.05H48.95V19.95V19.95Z" fill="black" fill-opacity="0.25"/>
        <path data-cubes data-from-top d="M150 216.05V200H100V250H150V216.6C150 216.5 150 216.4 150 216.35C150 216.25 150 216.15 150 216.05ZM101 201.1H127.95C121.75 203.4 117.35 209.35 117.35 216.35C117.35 219.7 118.4 222.85 120.15 225.45C116.95 226.75 114.4 229.3 113.1 232.5C111.9 231.95 110.55 231.6 109.15 231.6C105.6 231.6 102.5 233.65 100.95 236.6V201.1H101ZM113.75 234C115.95 235.45 117.4 237.95 117.4 240.8C117.4 242.35 116.95 243.8 116.2 245C114.35 242.95 113.25 240.2 113.25 237.25C113.25 236.15 113.45 235.05 113.75 234ZM101 249V245C101.9 246.7 103.25 248.1 104.95 249H101ZM108.95 249C104.55 248.85 101.05 245.25 101.05 240.85C101.05 236.35 104.7 232.65 109.25 232.65C110.55 232.65 111.75 232.95 112.85 233.5C112.45 234.7 112.25 236 112.25 237.3C112.25 240.65 113.55 243.65 115.65 245.95C114.2 247.75 112 248.95 109.55 249.05H108.95V249ZM113.4 249C114.5 248.4 115.5 247.6 116.3 246.65C117.35 247.6 118.55 248.45 119.9 249H113.4ZM116.95 245.75C117.85 244.3 118.4 242.6 118.4 240.8C118.4 237.5 116.65 234.65 114.05 233C115.25 229.95 117.7 227.5 120.8 226.3C123.8 230.15 128.45 232.6 133.65 232.6C134.3 232.6 135 232.55 135.65 232.45C136.3 233.9 136.65 235.5 136.65 237.2C136.65 243.65 131.4 248.9 124.95 248.9C121.85 249 119.05 247.75 116.95 245.75ZM121.85 226C122.85 225.75 123.9 225.55 124.95 225.55C129.3 225.55 133.15 227.95 135.15 231.5C134.65 231.55 134.15 231.6 133.65 231.6C128.95 231.6 124.7 229.4 121.85 226ZM148.95 249H130.05C134.6 247.05 137.75 242.55 137.75 237.3C137.75 235.55 137.4 233.9 136.75 232.35C142.35 231.3 146.95 227.3 148.95 222.05V249V249ZM148.95 216.6C148.8 224 143.4 230.15 136.3 231.35C134.15 227.3 129.9 224.5 125 224.5C123.7 224.5 122.4 224.7 121.2 225.05C119.45 222.55 118.45 219.55 118.45 216.3C118.45 207.9 125.3 201.05 133.7 201.05C142 201.05 148.8 207.75 148.95 216.05V216.6V216.6ZM148.95 210.6C147.3 206.2 143.8 202.7 139.4 201.05H148.95V210.6Z" fill="black" fill-opacity="0.25"/>
        <path data-cubes data-from-top d="M108.1 213.3C110.95 213.3 113.25 211 113.25 208.15C113.25 205.3 110.95 203 108.1 203C105.25 203 102.95 205.3 102.95 208.15C102.95 211 105.25 213.3 108.1 213.3ZM108.1 204C110.4 204 112.25 205.85 112.25 208.15C112.25 210.45 110.4 212.3 108.1 212.3C105.8 212.3 103.95 210.45 103.95 208.15C103.95 205.85 105.8 204 108.1 204Z" fill="black" fill-opacity="0.25"/>
        <rect x="50" width="50" height="50" fill="#f9f9f9"/>
        <rect y="50" width="50" height="50" fill="#f9f9f9"/>
        <rect x="50" y="100" width="50" height="50" fill="#f9f9f9"/>
        <rect y="150" width="50" height="50" fill="#f9f9f9"/>
        <rect x="100" y="150" width="50" height="50" fill="#f9f9f9"/>
        <rect x="50" y="200" width="50" height="50" fill="#f9f9f9"/>
        </svg>
      <svg data-cubes-anim="" data-stagger="" class="ms__text-decor ms__text-decor_right" width="150" height="250" viewBox="0 0 150 250" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path data-cubes="" data-from-right="" d="M75.5 50H50V75.5V100H75.5H100V75.5V50H75.5ZM74.45 61.4H61.4V74.45H51.05C51.35 61.65 61.7 51.3 74.45 51.05V61.4ZM87.5 74.45H75.5V62.45H87.5V74.45ZM62.4 75.5H74.4V87.5H62.4V75.5ZM75.5 75.5H87.5V87.5H75.5V75.5ZM74.45 74.45H62.45V62.45H74.45V74.45ZM61.35 75.5V88.55H74.4V98.9C61.6 98.6 51.25 88.25 51 75.5H61.35ZM75.5 88.55H88.55V75.5H98.9C98.6 88.3 88.25 98.65 75.5 98.9V88.55ZM88.55 74.45V61.4H75.5V51.05C88.3 51.35 98.65 61.7 98.9 74.45H88.55ZM51 51.05H67.8C59.75 53.45 53.4 59.8 51 67.85V51.05ZM51 98.95V82.15C53.4 90.2 59.75 96.55 67.8 98.95H51ZM82.1 98.95C90.15 96.55 96.5 90.2 98.9 82.15V98.95H82.1ZM82.1 51.05H98.9V67.85C96.5 59.8 90.15 53.45 82.1 51.05Z" fill="black" fill-opacity="0.25" data-svg-origin="50 50" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px;"></path>
        <path data-cubes="" data-from-left="" d="M132.65 0H117.4H116.35H100V16.3163V17.3674V32.6326V33.6837V50H116.3H117.35H132.6H133.65H150V33.6837V32.6326V17.3674V16.3163V0H133.7H132.65ZM132.65 46.2963L128.45 33.7337H132.65V46.2963ZM128.1 32.6326L123 17.3674H132.65V32.6326H128.1ZM117.35 3.75375L121.55 16.3163H117.35V3.75375ZM116.3 32.6326H111.75L106.65 17.3674H116.3V32.6326V32.6326ZM116.3 33.6837V46.2462L112.1 33.6837H116.3ZM117.35 17.3674H121.9L127 32.6326H117.35V17.3674ZM133.7 17.3674H138.25L143.35 32.6326H133.7V17.3674V17.3674ZM133.7 16.3163V3.75375L137.9 16.3163H133.7ZM132.65 16.3163H122.65L117.55 1.05105H132.6V16.3163H132.65ZM116.3 16.3163H106.3L101.2 1.05105H116.25V16.3163H116.3ZM101.05 3.75375L105.25 16.3163H101.05V3.75375ZM101.05 17.3674H105.6L110.7 32.6326H101.05V17.3674V17.3674ZM101.05 33.6837H111.05L116.15 48.949H101.1V33.6837H101.05ZM117.35 33.6837H127.35L132.45 48.949H117.4V33.6837H117.35ZM133.7 33.6837H143.7L148.8 48.949H133.75V33.6837H133.7ZM148.95 46.2963L144.75 33.7337H148.95V46.2963ZM148.95 32.6326H144.4L139.3 17.3674H148.95V32.6326V32.6326ZM148.95 16.3163H138.95L133.85 1.05105H148.9V16.3163H148.95Z" fill="black" fill-opacity="0.25" data-svg-origin="100 0" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px;"></path>
        <path data-cubes="" data-from-left="" d="M100 150H150V100H100V150V150ZM141.95 123.9L126.1 108.05H141.95V123.9ZM141.95 126.1V141.95H126.1L141.95 126.1ZM125 141.55L108.45 125L125 108.45L141.55 125L125 141.55ZM108.05 123.9V108.05H123.9L108.05 123.9ZM123.9 141.95H108.05V126.1L123.9 141.95ZM107.75 143H124.95L125 143.05L125.05 143H142.25L148.2 148.95H101.75L107.75 143ZM143 142.25V125.05L143.05 125L143 124.95V107.75L148.95 101.8V148.25L143 142.25ZM142.25 107H125.05L125 106.95L124.95 107H107.75L101.8 101.05H148.25L142.25 107ZM107 107.75V124.95L106.95 125L107 125.05V142.25L101.05 148.2V101.75L107 107.75Z" fill="black" fill-opacity="0.25" data-svg-origin="100 100" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px;"></path>
        <path data-cubes="" data-from-right="" d="M50 150V200H100V150H50ZM51.05 151.05H74.35L51.1 174.3V151.05H51.05ZM51.05 198.95V175.7L74.3 198.95H51.05ZM74.5 197.65L51.85 175L74.5 152.35V197.65ZM75.55 151.05H83C79.65 152.25 76.95 154.8 75.55 158V151.05ZM98.95 198.95H75.5V168.1C77.45 172.65 81.95 175.8 87.2 175.8C92.45 175.8 96.95 172.6 98.9 168.1V198.95H98.95ZM87.25 174.8C80.8 174.8 75.55 169.55 75.55 163.1C75.55 156.65 80.8 151.4 87.25 151.4C93.7 151.4 98.95 156.65 98.95 163.1C98.95 169.55 93.7 174.8 87.25 174.8ZM98.95 158C97.55 154.75 94.85 152.25 91.5 151.05H98.95V158Z" fill="black" fill-opacity="0.25" data-svg-origin="50 150" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px;"></path>
        <path data-cubes="" data-from-right="" d="M81.5723 192.977H92.8398V181.698H81.5723V192.977ZM82.6239 182.75H91.7881V191.924H82.6239V182.75Z" fill="black" fill-opacity="0.25" data-svg-origin="81.57229614257812 181.697998046875" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px;"></path>
        <path data-cubes="" data-from-left="" d="M130.6 250L104.5 250L100 250L100 200L150 200L150 250L130.6 250ZM129.55 235.15C126.15 235.05 123 233.85 120.5 231.95L106.7 249L129.55 249L129.55 235.15ZM115.2 219.3C115.2 223.75 117.2 227.8 120.35 230.5L124.15 225.8C122.4 224.2 121.25 221.85 121.25 219.3C121.25 214.4 125.2 210.45 130.1 210.45C135 210.45 138.95 214.4 138.95 219.3C138.95 224 135.25 227.85 130.65 228.1L130.65 234.15C138.6 233.85 145 227.35 145 219.3C145 211.1 138.35 204.4 130.1 204.4C121.85 204.4 115.2 211.05 115.2 219.3ZM130.6 217.8L130.6 227.05C134.65 226.8 137.85 223.4 137.85 219.3C137.85 215 134.35 211.5 130.05 211.5C125.75 211.5 122.25 215 122.25 219.3C122.25 221.55 123.2 223.6 124.75 225L130.6 217.8ZM125.6 225.65C126.75 226.45 128.1 226.95 129.55 227.05L129.55 220.75L125.6 225.65ZM129.55 228.1C127.85 228 126.25 227.4 124.95 226.45L121.15 231.15C123.5 232.95 126.4 234 129.55 234.15L129.55 228.1ZM148.95 201.05L101.05 201.05L101.05 248.95L105.35 248.95L119.65 231.25C116.3 228.35 114.15 224.05 114.15 219.25C114.15 210.45 121.3 203.35 130.05 203.35C138.85 203.35 145.95 210.5 145.95 219.25C145.95 227.85 139.1 234.85 130.55 235.15L130.55 248.95L148.9 248.95L148.9 201.05L148.95 201.05Z" fill="black" fill-opacity="0.25" data-svg-origin="100 200" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px;"></path>
        <path data-cubes="" data-from-right="" d="M0 0V50H50V0H0ZM1.05 1.05H17.85C9.8 3.45 3.45 9.79999 1.05 17.85V1.05ZM1.05 48.95V32.15C3.45 40.2 9.8 46.55 17.85 48.95H1.05ZM5.85 29.75C5.85 19.2 14.45 10.6 25 10.6C35.55 10.6 44.15 19.2 44.15 29.75C44.15 36.9 40.25 43.1 34.45 46.4C37.5 43.75 39.45 39.85 39.45 35.5C39.45 27.55 33 21.05 25 21.05C17.05 21.05 10.55 27.5 10.55 35.5C10.55 39.85 12.5 43.75 15.55 46.4C9.75 43.15 5.85 36.9 5.85 29.75ZM25.7 48.9C25.45 48.9 25.25 48.95 25 48.95C24.75 48.95 24.55 48.95 24.3 48.9C20.9 48.55 18.25 45.7 18.25 42.2C18.25 38.5 21.25 35.45 25 35.45C28.7 35.45 31.75 38.45 31.75 42.2C31.75 45.7 29.05 48.55 25.7 48.9ZM32.75 42.2C32.75 37.9 29.25 34.45 25 34.45C20.75 34.45 17.25 37.95 17.25 42.2C17.25 44.4 18.15 46.35 19.6 47.8C14.9 45.7 11.6 41 11.6 35.55C11.6 28.15 17.6 22.15 25 22.15C32.4 22.15 38.4 28.15 38.4 35.55C38.4 41 35.1 45.7 30.4 47.8C31.85 46.35 32.75 44.4 32.75 42.2ZM48.95 48.95H32.15C40.2 46.55 46.55 40.2 48.95 32.15V48.95V48.95ZM38.7 44.6C42.7 40.9 45.2 35.6 45.2 29.75C45.2 18.6 36.15 9.55001 25 9.55001C13.85 9.55001 4.8 18.6 4.8 29.75C4.8 35.6 7.3 40.9 11.3 44.6C5.1 40.25 1.05 33.1 1.05 24.95C1.05 11.75 11.8 1 25 1C38.2 1 48.95 11.75 48.95 24.95C48.95 33.1 44.9 40.3 38.7 44.6ZM48.95 17.85C46.55 9.79999 40.2 3.45 32.15 1.05H48.95V17.85V17.85Z" fill="black" fill-opacity="0.25" data-svg-origin="0 0" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px;"></path>
        <rect x="100" y="50" width="50" height="50" fill="#f9f9f9"></rect>
        <rect x="50" y="100" width="50" height="50" fill="#f9f9f9"></rect>
        <rect x="50" width="50" height="50" fill="#f9f9f9"></rect>
        <rect x="50" y="200" width="50" height="50" fill="#f9f9f9"></rect>
        <rect x="100" y="150" width="50" height="50" fill="#f9f9f9"></rect>
        <rect y="50" width="50" height="50" fill="#f9f9f9"></rect>
        </svg>
      <svg class="ms-logo" width="92" height="154" viewBox="0 0 92 154" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.758789 -7.62939e-06L0.758789 41.4514L42.5399 41.4514L42.5399 -7.62564e-06L0.758789 -7.62939e-06Z" fill="#02996D"/>
        <path d="M42.5595 41.4898H0.77832V82.9412H42.5595V41.4898Z" fill="#FDC60C"/>
        <path d="M42.499 41.4898V82.8807H84.2802L42.499 41.4898Z" fill="black"/>
        <path d="M70.3925 41.49C81.9301 41.49 91.2831 32.2108 91.2831 20.7643C91.2831 9.31778 81.9301 0.0385742 70.3925 0.0385742C58.855 0.0385742 49.502 9.31778 49.502 20.7643C49.502 32.2108 58.855 41.49 70.3925 41.49Z" fill="#EA4041"/>
        <path d="M42.498 41.4918C42.498 18.5909 23.8 0.0404663 0.716797 0.0404663V41.4918H42.498Z" fill="#0065FB"/>
        <path d="M30.319 102.276C31.5042 102.276 32.4651 101.323 32.4651 100.147C32.4651 98.9707 31.5042 98.0175 30.319 98.0175C29.1337 98.0175 28.1729 98.9707 28.1729 100.147C28.1729 101.323 29.1337 102.276 30.319 102.276Z" fill="black"/>
        <path d="M35.2399 102.276C36.4251 102.276 37.386 101.323 37.386 100.147C37.386 98.9707 36.4251 98.0175 35.2399 98.0175C34.0546 98.0175 33.0938 98.9707 33.0938 100.147C33.0938 101.323 34.0546 102.276 35.2399 102.276Z" fill="black"/>
        <path d="M0.7538 103.524H4.89801V110.793H4.93501L9.52324 103.524H13.8895L8.48719 111.6L14.2225 119.713H9.33823L4.89801 112.738H4.86101V119.713H0.716797V103.524H0.7538Z" fill="black"/>
        <path d="M23.8058 113.803V119.676H19.6616V113.803L14.7773 103.524H19.2916L21.6967 110.022L24.1388 103.524H28.616L23.8058 113.803Z" fill="black"/>
        <path d="M30.7246 103.524H34.8688V119.676H30.7246V103.524Z" fill="black"/>
        <path d="M46.7471 119.676H42.4549L37.0156 103.524H41.2709L44.564 114.867H44.601L47.8942 103.524H52.1864L46.7471 119.676Z" fill="black"/>
        <path d="M11.2993 134.801C9.89326 136.012 8.37618 136.196 6.52609 136.196H4.713V141.262H0.716797V125.109H6.04507C7.71015 125.109 9.70825 125.183 11.0773 126.284C12.3724 127.349 13.0014 128.89 13.0014 130.579C13.0384 132.048 12.4464 133.773 11.2993 134.801ZM6.30408 128.707H4.75V132.561H6.45209C7.82116 132.561 9.04222 132.268 9.04222 130.616C9.04222 128.927 7.67315 128.707 6.30408 128.707Z" fill="black"/>
        <path d="M22.7332 141.262L18.959 136.049H18.922V141.262H14.9258V125.109H20.069C21.7711 125.109 23.6952 125.146 25.1013 126.284C26.4334 127.349 27.0994 129.001 27.0994 130.689C27.0994 133.186 25.6193 135.351 23.0662 135.792L27.5064 141.298H22.7332V141.262ZM20.4391 128.707H18.922V133.222H20.4021C21.9561 133.222 23.1402 132.561 23.1402 130.91C23.1032 129.294 21.8451 128.707 20.4391 128.707Z" fill="black"/>
        <path d="M37.1646 141.555C32.5764 141.555 28.6172 138.031 28.6172 133.369C28.6172 132.158 28.8022 131.02 29.2462 129.918C29.5052 129.294 29.8753 128.634 30.3193 128.12C31.9844 125.917 34.4265 124.816 37.2016 124.816C41.9749 124.816 45.8231 128.45 45.8231 133.222C45.7861 137.958 41.9379 141.555 37.1646 141.555ZM37.2016 128.413C34.5375 128.413 32.7614 130.616 32.7614 133.149C32.7614 135.719 34.5375 137.958 37.2386 137.958C39.8658 137.958 41.6049 135.682 41.6049 133.222C41.6419 130.689 39.8658 128.413 37.2016 128.413Z" fill="black"/>
        <path d="M47.3779 141.262V125.109H56.4434V128.744H51.3741V131.24H56.2954V134.874H51.3741V137.664H56.4434V141.298H47.3779V141.262Z" fill="black"/>
        <path d="M67.8372 141.262L63.3969 134.287H63.3599V141.262H59.1787V125.109H63.3229V132.378H63.3599L67.9482 125.109H72.3144L66.9121 133.186L72.6475 141.298H67.8372V141.262Z" fill="black"/>
        <path d="M80.9737 128.707V141.262H76.8295V128.707H73.6104V125.073H84.1929V128.707H80.9737Z" fill="black"/>
        <path d="M1.78996 153.009C1.08692 152.348 0.753906 151.541 0.753906 150.513C0.753906 149.485 1.08692 148.677 1.78996 148.016C2.493 147.356 3.34405 147.062 4.38011 147.062C5.04614 147.062 5.63818 147.209 6.1562 147.466V148.824C5.63818 148.494 5.04614 148.31 4.41711 148.31C3.78807 148.31 3.27004 148.53 2.82602 148.934C2.419 149.338 2.19698 149.852 2.19698 150.476C2.19698 151.1 2.419 151.614 2.86302 152.054C3.30705 152.458 3.82507 152.642 4.49111 152.642C5.23115 152.642 5.82319 152.458 6.30421 152.054V153.413C5.74918 153.743 5.12015 153.89 4.41711 153.89C3.30705 154 2.456 153.67 1.78996 153.009Z" fill="black"/>
        <path d="M8.93156 147.245H7.5625V153.853H8.93156V147.245Z" fill="black"/>
        <path d="M10.1152 147.245H15.7025V148.457H13.5934V153.853H12.2243V148.457H10.1152V147.245Z" fill="black"/>
        <path d="M18.7366 153.853V150.88L16.1465 147.245H17.7746L19.4027 149.595L21.1048 147.245H22.6588L20.1057 150.843V153.853H18.7366Z" fill="black"/>
        <path d="M25.7676 153.266V151.834C26.0266 152.054 26.3966 152.275 26.8776 152.458C27.3587 152.642 27.8027 152.715 28.2467 152.715C28.9868 152.715 29.5418 152.458 29.5418 151.944C29.5418 151.724 29.4308 151.504 29.2088 151.394C29.0978 151.32 29.0238 151.283 28.8388 151.21L28.6167 151.137L28.0987 150.99L27.6177 150.843C27.5067 150.806 27.3587 150.77 27.1737 150.696C26.9886 150.623 26.8406 150.549 26.7296 150.513C26.5446 150.402 26.2116 150.145 26.1006 149.925C25.9896 149.705 25.8786 149.375 25.8786 149.007C25.8786 148.42 26.1006 147.943 26.5446 147.612C26.9886 147.282 27.6177 147.099 28.3947 147.099C29.1718 147.099 29.9118 147.282 30.5779 147.649V148.971C29.9118 148.567 29.1718 148.347 28.3947 148.347C27.6547 148.347 27.2477 148.567 27.2477 149.007C27.2477 149.228 27.3957 149.375 27.6177 149.448C27.7287 149.521 27.9877 149.595 28.1727 149.632C28.3577 149.668 28.6907 149.778 28.9128 149.852C29.5418 150.035 29.9118 150.219 30.3558 150.549C30.7999 150.88 31.0219 151.32 31.0219 151.944C31.0219 152.568 30.7629 153.082 30.2818 153.449C29.7638 153.816 29.1348 154 28.3947 154C27.2847 154 26.4706 153.743 25.7676 153.266Z" fill="black"/>
        <path d="M32.1689 153.853V147.245H35.0921C35.7952 147.245 36.3872 147.429 36.7942 147.796C37.2012 148.163 37.4232 148.64 37.4232 149.228C37.4232 149.815 37.2012 150.292 36.7942 150.659C36.3872 151.027 35.7952 151.21 35.0921 151.21H33.538V153.817H32.1689V153.853ZM33.575 150.072H35.0181C35.6841 150.072 36.0542 149.778 36.0542 149.265C36.0542 148.751 35.6471 148.457 35.0181 148.457H33.575V150.072Z" fill="black"/>
        <path d="M37.3125 153.853L40.1617 147.209H41.4937L44.3429 153.853H42.8998L42.2338 152.311H39.4216L38.7556 153.853H37.3125ZM39.8286 151.21H41.7897L40.8277 148.897L39.8286 151.21Z" fill="black"/>
        <path d="M45.6747 153.009C44.9717 152.348 44.6387 151.541 44.6387 150.513C44.6387 149.485 44.9717 148.677 45.6747 148.016C46.3778 147.356 47.2288 147.062 48.2649 147.062C48.9309 147.062 49.5229 147.209 50.0409 147.466V148.824C49.5229 148.494 48.9309 148.31 48.3019 148.31C47.6728 148.31 47.1548 148.53 46.7108 148.934C46.3038 149.338 46.0817 149.852 46.0817 150.476C46.0817 151.1 46.3038 151.614 46.7478 152.054C47.1918 152.458 47.7098 152.642 48.3759 152.642C49.1159 152.642 49.7079 152.458 50.1889 152.054V153.413C49.6339 153.743 49.0049 153.89 48.3019 153.89C47.1918 154 46.3408 153.67 45.6747 153.009Z" fill="black"/>
        <path d="M51.4111 153.853V147.245H56.3324V148.457H52.7802V149.742H55.6294V150.916H52.7802V152.642H56.4434V153.853H51.4111Z" fill="black"/>
        </svg>
      .subtitle.black <span class="bold">Суперсучасний простір для життя</span> з унікальним панорамним вікновидом на історичний центр
      +btn('Дізнатися більше')
  section.colorfull-block
    .colorfull-block__wrap
      <span class="blue">kyїvproekt</span>&nbsp;/&nbsp;<span class="green">city space</span>&nbsp;/&nbsp;<span class="red">kyїvproekt</span>&nbsp;/&nbsp;<span class="yellow">city space</span>&nbsp;/
  

  // -----------------------------------
  section.home-section.home-section-live
    .title-wrap
      h2.title.title--white Жити
    ul.home-section-live-list.info-list.df.fww
      each v, i in [1, 2, 3, 4, 5, 6]
        +infoItem(liveText[i], 'iro_0'+v, 'info-list-item--white')
  // -----------------------------------
  // -----------------------------------
  section.home-section.home-section-work.df.fdc.jcc(data-home-paralax)
    img.home-section-work-mobile-bg(src="./assets/images/home/work-tablet.jpg")
    .title-wrap
      h2.title Працювати
    ul.info-list.home-section-work-list.df.fdc
      each v, i in [1, 2, 3, 4]
        +infoItem(workText[i], 'home_work_0'+v, 'info-list-item--black')(class="half-opacity")
  // -----------------------------------
  // -----------------------------------
  section.home-section.home-section-rest
    .home-section-rest__l
      .title-wrap
        h2.title Відпочивати
      ul.info-list
        each v, i in [1, 2, 3, 4, 5]
          +infoItem(restText[i], 'home_rest_0'+v, 'info-list-item--black')(class="half-opacity")
    .home-section-rest__r
  // -----------------------------------

  // -----------------------------------
  section.home-section.home-section-custom-1
    .home-section-custom-1__l
      <svg class="home-section-custom-1__decor" data-cubes-anim xmlns="http://www.w3.org/2000/svg" width="920" height="580" fill="none" version="1.1" viewBox="0 0 920 580">
        <g id="g966" data-from-bottom="" data-cubes>
          <path id="path895" d="m860.84 364.01h-10.839v21.91h21.678v-21.91h-10.839c0.07 0 0.07 0 0 0zm-9.301 1.47h3.986c-1.678 0.98-3.007 2.38-3.986 3.99v-3.99zm0 18.97v-3.99c0.979 1.68 2.308 3.08 3.986 3.99h-3.986zm18.672 0h-3.916c1.678-0.98 3.007-2.38 3.986-3.99v3.99h-0.07zm-9.301 0c-5.175 0-9.371-4.27-9.371-9.45 0-5.25 4.196-9.45 9.371-9.45s9.371 4.27 9.371 9.45c-0.07 5.18-4.266 9.45-9.371 9.45zm9.301-18.97v3.99c-0.979-1.68-2.308-3.08-3.986-3.99h3.986z"></path>
          <path id="path897" d="m885.04 364.01h-10.84v21.91h21.679v-21.91h-10.839zm-9.371 1.47h3.986c-1.678 0.98-3.007 2.38-3.986 3.99v-3.99zm0 18.97v-3.99c0.979 1.68 2.308 3.08 3.986 3.99h-3.986zm18.741 0h-3.986c1.678-0.98 3.007-2.38 3.986-3.99v3.99zm-9.37 0c-5.175 0-9.371-4.27-9.371-9.45 0-5.25 4.196-9.45 9.371-9.45 5.174 0 9.37 4.27 9.37 9.45s-4.196 9.45-9.37 9.45zm9.37-18.97v3.99c-0.979-1.68-2.308-3.08-3.986-3.99h3.986z"></path>
          <path id="path899" d="m909.16 364.01h-10.839v21.91h21.678v-21.91h-10.839zm-9.371 1.47h3.986c-1.678 0.98-3.007 2.38-3.986 3.99v-3.99zm0 18.97v-3.99c0.979 1.68 2.308 3.08 3.986 3.99h-3.986zm18.742 0h-3.986c1.678-0.98 3.007-2.38 3.986-3.99v3.99zm-9.371 0c-5.175 0-9.371-4.27-9.371-9.45 0-5.25 4.196-9.45 9.371-9.45s9.371 4.27 9.371 9.45-4.196 9.45-9.371 9.45zm9.371-18.97v3.99c-0.979-1.68-2.308-3.08-3.986-3.99h3.986z"></path>
          <path id="path901" d="m850.07 361.84h21.609v-21.84h-21.609v21.84zm20.14-1.47h-3.916c1.679-0.98 3.007-2.38 3.986-3.99v3.99h-0.07zm0-18.9v3.99c-0.979-1.68-2.307-3.08-3.986-3.99h3.986zm-18.671 0h3.986c-1.678 0.98-3.007 2.38-3.986 3.99v-3.99zm9.301 0c5.175 0 9.37 4.27 9.37 9.45 0 5.25-4.195 9.45-9.37 9.45s-9.371-4.27-9.371-9.45c0.07-5.25 4.266-9.45 9.371-9.45zm-9.301 14.91c0.979 1.68 2.308 3.08 3.986 3.99h-3.986v-3.99z"></path>
          <path id="path903" d="m874.2 361.84h21.609v-21.84h-21.609v21.84zm20.21-1.47h-3.986c1.678-0.98 3.007-2.38 3.986-3.99v3.99zm0-18.9v3.99c-0.979-1.68-2.308-3.08-3.986-3.99h3.986zm-18.741 0h3.986c-1.678 0.98-3.007 2.38-3.986 3.99v-3.99zm9.371 0c5.174 0 9.37 4.27 9.37 9.45 0 5.25-4.196 9.45-9.37 9.45-5.175 0-9.371-4.27-9.371-9.45 0-5.25 4.196-9.45 9.371-9.45zm-9.371 14.91c0.979 1.68 2.308 3.08 3.986 3.99h-3.986v-3.99z"></path>
          <path id="path905" d="m898.32 340v21.91h21.608v-21.91h-21.608zm1.468 1.47h3.986c-1.678 0.98-3.007 2.38-3.986 3.99v-3.99zm0 18.9v-3.99c0.979 1.68 2.308 3.08 3.986 3.99h-3.986zm18.742 0h-3.986c1.678-0.98 3.007-2.38 3.986-3.99v3.99zm-9.371 0c-5.175 0-9.371-4.27-9.371-9.45 0-5.25 4.196-9.45 9.371-9.45s9.371 4.27 9.371 9.45-4.196 9.45-9.371 9.45zm9.371-14.91c-0.979-1.68-2.308-3.08-3.986-3.99h3.986v3.99z"></path>
          <path id="path907" d="m850.07 410h21.609v-21.91h-21.609v21.91zm20.14-1.47h-3.916c1.679-0.98 3.007-2.38 3.986-3.99v3.99h-0.07zm0-18.97v3.99c-0.979-1.68-2.307-3.08-3.986-3.99h3.986zm-18.671 0h3.986c-1.678 0.98-3.007 2.38-3.986 3.99v-3.99zm9.301 0c5.175 0 9.37 4.27 9.37 9.45 0 5.25-4.195 9.45-9.37 9.45s-9.371-4.27-9.371-9.45c0.07-5.18 4.266-9.45 9.371-9.45zm-9.301 14.91c0.979 1.68 2.308 3.08 3.986 3.99h-3.986v-3.99z"></path>
          <path id="path909" d="m874.2 410h21.609v-21.91h-21.609v21.91zm20.21-1.47h-3.986c1.678-0.98 3.007-2.38 3.986-3.99v3.99zm0-18.97v3.99c-0.979-1.68-2.308-3.08-3.986-3.99h3.986zm-18.741 0h3.986c-1.678 0.98-3.007 2.38-3.986 3.99v-3.99zm9.371 0c5.174 0 9.37 4.27 9.37 9.45 0 5.25-4.196 9.45-9.37 9.45-5.175 0-9.371-4.27-9.371-9.45s4.196-9.45 9.371-9.45zm-9.371 14.91c0.979 1.68 2.308 3.08 3.986 3.99h-3.986v-3.99z"></path>
          <path id="path911" d="m898.32 410h21.608v-21.91h-21.608v21.91zm20.21-1.47h-3.986c1.678-0.98 3.007-2.38 3.986-3.99v3.99zm0-18.97v3.99c-0.979-1.68-2.308-3.08-3.986-3.99h3.986zm-18.742 0h3.986c-1.678 0.98-3.007 2.38-3.986 3.99v-3.99zm9.371 0c5.175 0 9.371 4.27 9.371 9.45 0 5.25-4.196 9.45-9.371 9.45s-9.371-4.27-9.371-9.45 4.196-9.45 9.371-9.45zm-9.371 14.91c0.979 1.68 2.308 3.08 3.986 3.99h-3.986v-3.99z"></path>
        </g>
        <g fill="#000" fill-opacity=".25">
        <path data-cubes d="m240 510h-70v70h70v-70zm-34.86 33.81-16.17-16.03 16.03-16.03 16.1 16.1-15.96 15.96zm-1.33 1.05-16.03 16.17-16.03-16.03 16.1-16.1 15.96 15.96zm1.05 1.26 16.17 16.03-16.03 16.03-16.1-16.1 15.96-15.96zm1.33-0.98 16.03-16.17 16.03 16.03-16.1 16.1-15.96-15.96zm17.01-17.22 15.33-15.4v30.73l-15.33-15.33zm14.28-16.45-15.4 15.4-15.4-15.4h30.8zm-49.56 15.26-15.4-15.33h30.73l-15.33 15.33zm-16.45-14.28 15.4 15.4-15.4 15.4v-30.8zm15.26 49.56-15.33 15.4v-30.66l15.33 15.26zm-14.21 16.52 15.4-15.4 15.4 15.4h-30.8zm49.56-15.33 15.4 15.33h-30.73l15.33-15.33zm16.45 14.28-15.4-15.4 15.4-15.4v30.8z" data-from-left=""></path>
        <path data-cubes d="m715.7 0h-35.7v70h70v-70h-34.3zm-1.47 15.96h-18.27v18.27h-14.49c0.42-17.92 14.91-32.41 32.76-32.76v14.49zm18.27 18.27h-16.8v-16.8h16.8v16.8zm-35.14 1.47h16.8v16.8h-16.8v-16.8zm18.34 0h16.8v16.8h-16.8v-16.8zm-1.47-1.47h-16.8v-16.8h16.8v16.8zm-18.34 1.47v18.27h18.27v14.49c-17.92-0.42-32.41-14.91-32.76-32.76h14.49zm19.81 18.27h18.27v-18.27h14.49c-0.42 17.92-14.91 32.41-32.76 32.76v-14.49zm18.27-19.74v-18.27h-18.27v-14.49c17.92 0.42 32.41 14.91 32.76 32.76h-14.49zm-52.57-32.76h23.52c-11.27 3.36-20.16 12.25-23.52 23.52v-23.52zm0 67.06v-23.52c3.36 11.27 12.25 20.16 23.52 23.52h-23.52zm43.54 0c11.27-3.36 20.16-12.25 23.52-23.52v23.52h-23.52zm0-67.06h23.52v23.52c-3.36-11.27-12.25-20.16-23.52-23.52z" data-from-right=""></path>
        <path data-cubes d="m895.71 0h-45.71v70h70v-70h-24.29zm0 64.815-5.88-17.588h5.88v17.588zm-6.37-19.129-7.14-21.371h13.51v21.371h-6.37zm-15.05-40.43 5.88 17.588h-5.88v-17.588zm-1.47 40.43h-6.37l-7.14-21.371h13.51v21.371zm0 1.4715v17.588l-5.88-17.588h5.88zm1.47-22.843h6.37l7.14 21.371h-13.51v-21.371zm22.89 0h6.37l7.14 21.371h-13.51v-21.371zm0-1.4715v-17.588l5.88 17.588h-5.88zm-1.47 0h-14l-7.14-21.371h21.07v21.371h0.07zm-22.89 0h-14l-7.14-21.371h21.07v21.371h0.07zm-21.35-17.588 5.88 17.588h-5.88v-17.588zm0 19.059h6.37l7.14 21.371h-13.51v-21.371zm0 22.843h14l7.14 21.371h-21.07v-21.371h-0.07zm22.82 0h14l7.14 21.371h-21.07v-21.371h-0.07zm22.89 0h14l7.14 21.371h-21.07v-21.371h-0.07zm21.35 17.658-5.88-17.588h5.88v17.588zm0-19.129h-6.37l-7.14-21.371h13.51v21.371zm0-22.843h-14l-7.14-21.371h21.07v21.371h0.07z" data-from-bottom=""></path>
        <path data-cubes d="m680 580h70v-70h-70v70zm10.85-9.8h48.37l8.33 8.33h-65.03l8.33-8.33zm47.88-2.66c-4.83-5.18-19.67-19.6-22.68-22.54l22.68-22.68v45.22zm-47.46 0.14v-46.48h46.48l-46.48 46.48zm23.73-21.63c3.01 2.87 18.27 17.78 22.89 22.68h-45.57l22.68-22.68zm25.2 23.1v-48.37l8.33-8.33v65.03l-8.33-8.33zm-1.05-49.35h-48.37l-8.33-8.33h65.03l-8.33 8.33zm-49.35 1.05v48.37l-8.33 8.33v-65.03l8.33 8.33z" data-from-left=""></path>
        <path data-cubes d="m510 70h70v-70h-70v70zm58.73-36.54-22.19-22.19h22.19v22.19zm0 3.08v22.19h-22.19l22.19-22.19zm-23.73 21.63-23.17-23.17 23.17-23.17 23.17 23.17-23.17 23.17zm-23.73-24.71v-22.19h22.19l-22.19 22.19zm22.19 25.27h-22.19v-22.19l22.19 22.19zm-22.61 1.47h24.08l0.07 0.07 0.07-0.07h24.08l8.33 8.33h-65.03l8.4-8.33zm49.35-1.05v-24.08l0.07-0.07-0.07-0.07v-24.08l8.33-8.33v65.03l-8.33-8.4zm-1.05-49.35h-24.08l-0.07-0.06999-0.07 0.06999h-24.08l-8.33-8.33h65.03l-8.4 8.33zm-49.35 1.05v24.08l-0.07 0.07 0.07 0.07v24.08l-8.33 8.33v-65.03l8.33 8.4z" data-from-right=""></path>
        <path data-cubes d="m70 510h-70v70h70v-70zm-22.75 58.73c-6.37 0-11.48-5.18-11.48-11.48 0-6.37 5.18-11.48 11.48-11.48 6.37 0 11.48 5.18 11.48 11.48 0.07 6.3-5.11 11.48-11.48 11.48zm11.55-5.53v5.53h-5.53c2.31-1.26 4.27-3.15 5.53-5.53zm-11.55-18.97c-7.14 0-12.95 5.81-12.95 12.95 0 4.97 2.87 9.31 7 11.48h-30.03v-23.03h24.5v-24.5h23.03v30.03c-2.17-4.06-6.51-6.93-11.55-6.93zm-35.98 0v-23.03h23.03v23.03h-23.03zm47.95-24.43h-48.37l-8.33-8.33h65.03l-8.33 8.33zm-49.42 1.05v48.37l-8.33 8.33v-65.03l8.33 8.33zm1.05 49.35h48.37l8.33 8.33h-65.03l8.33-8.33zm49.42-1.05v-48.37l8.33-8.33v65.03l-8.33-8.33z" data-from-left=""></path>
        <path data-cubes d="m170 0.77v69.23h70v-70h-70v0.77zm4.69 9.52 29.12 58.24h-9.73l-19.39-58.24zm17.85 58.24h-10.64l-9.17-59.36 19.81 59.36zm-15.89-57.61 38.43 57.61h-9.66l-28.77-57.61zm2.31 0.84 47.32 56.77h-9.45l-37.87-56.77zm2.66 0.91 55.86 55.86h-9.31l-46.55-55.86zm53.69 47.04-29.12-58.24h9.73l19.39 58.24zm-17.85-58.24h10.64l9.17 59.36-19.81-59.36zm15.89 57.61-38.43-57.61h9.59l28.84 57.61zm-2.31-0.84-47.32-56.77h9.45l37.87 56.77zm-2.66-0.91-55.86-55.86h9.31l46.55 55.86zm-56.91-47.04 8.96 58.24h-8.96v-58.24zm67.06 49.42-8.96-58.24h8.96v58.24z" data-from-right=""></path>
        <path data-cubes d="m920 510h-70v70h70v-70zm-1.4 45.99-11.13-11.06 11.06-11.06v22.12h0.07zm0-24.22-13.16 13.16 13.16 13.16v8.96l-22.12-22.12 22.12-22.12v8.96zm0-10.99-24.22 24.15 24.15 24.15v8.33l-32.48-32.41 32.48-32.48v8.26h0.07zm-33.74 44.73-12.95 13.02h-8.96l21.98-21.98 21.98 21.98h-8.96l-13.09-13.02zm10.99 13.02h-21.91l10.92-10.92 10.99 10.92zm-10.99-24.08-24.08 24.08h-8.26l32.48-32.48 32.55 32.48h-8.61l-24.08-24.08zm-33.39 3.43 13.02-13.02-13.02-13.02v-9.03l21.98 21.98-21.98 21.98v-8.89zm0-2.1v-21.91l10.92 10.92-10.92 10.99zm0 13.09 24.08-24.08-24.08-24.08v-8.26l32.48 32.48-32.48 32.48v-8.54zm33.67-44.45 13.02-13.02h8.96l-21.98 21.98-21.98-21.98h8.96l13.02 13.02zm-10.92-12.95h21.91l-10.92 10.92-10.99-10.92zm10.99 24.01 24.08-24.08h8.26l-32.48 32.48-32.48-32.48h8.61l24.01 24.08z" data-from-bottom=""></path>
        <path data-cubes d="m410 580v-70h-70v70h70zm-8.4-66.92c-2.52 4.06-7.21 11.69-7.21 20.51 0 3.85 2.24 7.91 4.34 11.76 2.03 3.71 4.2 7.56 4.2 11.06 0 6.23-2.1 8.82-4.27 11.62-2.03 2.52-4.06 5.18-4.2 10.5h-5.74c0.14-4.9 1.33-7.28 2.66-9.73 1.47-2.8 3.01-5.74 3.01-12.39 0-3.78-1.47-7.77-2.87-11.62-1.4-3.78-2.8-7.63-2.8-11.2 0-8.54 3.08-15.96 4.69-19.95 0.42-1.05 0.7-1.75 0.84-2.17h8.4c-0.35 0.42-0.7 0.98-1.05 1.61zm-9.52 0.07c-1.68 4.06-4.76 11.62-4.76 20.44 0 3.78 1.47 7.77 2.87 11.69 1.4 3.78 2.8 7.63 2.8 11.2 0 6.3-1.47 9.03-2.87 11.76-1.33 2.52-2.66 5.11-2.8 10.36h-5.81c0.07-4.97 0.7-7.35 1.33-9.87 0.7-2.8 1.47-5.67 1.47-12.25 0-3.71-0.7-7.7-1.4-11.55-0.7-3.78-1.4-7.7-1.4-11.34 0-8.61 1.54-16.03 2.38-20.02 0.21-0.98 0.35-1.61 0.42-2.1h8.47c-0.21 0.49-0.49 1.05-0.7 1.68zm-9.59 0.14c-0.84 4.06-2.38 11.55-2.38 20.3 0 3.71 0.7 7.7 1.4 11.55 0.7 3.78 1.4 7.7 1.4 11.27 0 6.37-0.77 9.17-1.47 11.9-0.63 2.52-1.33 5.11-1.4 10.22h-4.48v-67.06h7.28c-0.07 0.49-0.21 1.12-0.35 1.82zm-8.19 65.24h-4.41c-0.07-5.18-0.7-7.77-1.4-10.22-0.7-2.73-1.47-5.53-1.47-11.9 0-3.64 0.7-7.49 1.4-11.27 0.7-3.85 1.4-7.84 1.4-11.55 0-8.75-1.54-16.24-2.38-20.3-0.14-0.7-0.28-1.33-0.35-1.82h7.14v67.06h0.07zm-8.12-64.96c0.84 3.99 2.38 11.41 2.38 20.02 0 3.64-0.7 7.56-1.4 11.34-0.7 3.85-1.4 7.77-1.4 11.55 0 6.51 0.77 9.45 1.47 12.25 0.63 2.52 1.26 4.9 1.33 9.87h-5.81c-0.14-5.25-1.47-7.84-2.8-10.36-1.4-2.66-2.87-5.46-2.87-11.76 0-3.57 1.4-7.42 2.8-11.2 1.4-3.85 2.87-7.84 2.87-11.69 0-8.82-3.08-16.38-4.76-20.44-0.28-0.63-0.49-1.19-0.7-1.68h8.47c0.07 0.49 0.21 1.12 0.42 2.1zm-9.52 0.07c1.61 3.99 4.69 11.41 4.69 19.95 0 3.57-1.4 7.42-2.8 11.2-1.4 3.85-2.87 7.84-2.87 11.62 0 6.65 1.54 9.52 3.01 12.39 1.33 2.45 2.52 4.83 2.66 9.73h-5.81c-0.21-5.32-2.24-7.91-4.2-10.5-2.17-2.8-4.27-5.39-4.27-11.62 0-3.5 2.1-7.35 4.2-11.06 2.17-3.92 4.34-7.91 4.34-11.76 0-8.89-4.69-16.45-7.21-20.51-0.35-0.56-0.7-1.12-0.98-1.54h8.4c0.14 0.42 0.42 1.05 0.84 2.1zm51.87 64.89h-12.74c0.14-4.83 1.96-7.14 3.92-9.66 2.24-2.87 4.55-5.81 4.55-12.46 0-3.85-2.24-7.84-4.34-11.76-2.03-3.71-4.2-7.63-4.2-11.13 0-8.47 4.55-15.82 7-19.81 0.7-1.12 1.12-1.82 1.33-2.31h4.41v67.13h0.07zm-67.06-67.06h4.41c0.21 0.49 0.63 1.19 1.33 2.31 2.45 3.99 7 11.34 7 19.81 0 3.5-2.1 7.35-4.2 11.13-2.1 3.85-4.34 7.91-4.34 11.76 0 6.65 2.31 9.66 4.55 12.46 1.96 2.45 3.78 4.83 3.92 9.66h-12.74v-67.13h0.07z" data-from-left=""></path>
        </g>
        <g  data-cubes data-from-bottom="">
          <path id="path931" d="m920 240v-70h-70v70h70zm-1.47-3.85-25.69-51.38 25.69-12.88v64.26zm-2.38-64.68-24.01 11.97-6.02-11.97h30.03zm-64.68 0h33.11l6.3 12.67-39.41 19.67v-32.34zm0 33.95 40.04-20.02 26.6 53.13h-66.64v-33.11z" fill="#000" fill-opacity=".25"></path>
          <path id="path933" d="m860.71 231.11h15.75v-15.75h-15.75v15.75zm1.47-14.28h12.81v12.81h-12.81v-12.81z" fill="#000" fill-opacity=".25"></path>
        </g>
        <g  data-cubes data-from-right="">
        <g  data-cubes data-from-right="">
          <path  d="m0 0v70h70v-70h-70zm1.47 1.47h32.62l-32.55 32.55v-32.55h-0.07001zm0 67.06v-32.55l32.55 32.55h-32.55zm32.83-1.82-31.71-31.71 31.71-31.71v63.42zm1.47-65.24h10.43c-4.69 1.68-8.47 5.25-10.43 9.73v-9.73zm32.76 67.06h-32.83v-43.19c2.73 6.37 9.03 10.78 16.38 10.78s13.65-4.48 16.38-10.78v43.19h0.07zm-16.38-33.81c-9.03 0-16.38-7.35-16.38-16.38 0-9.03 7.35-16.38 16.38-16.38s16.38 7.35 16.38 16.38c0 9.03-7.35 16.38-16.38 16.38zm16.38-23.52c-1.96-4.55-5.74-8.05-10.43-9.73h10.43v9.73z" fill="#000" fill-opacity=".25"></path>
          <path  d="m44.201 60.167h15.774v-15.791h-15.774v15.791zm1.4723-14.317h12.83v12.843h-12.83v-12.843z" fill="#000" fill-opacity=".25"></path>
        </g>
        </g>
        <path data-cubes d="m382.84 70h-36.54-6.3v-70l70 3.0598e-6v70h-27.16zm-1.47-20.79c-4.76-0.14-9.17-1.82-12.67-4.48l-19.32 23.87h31.99v-19.39zm-20.09-22.19c0 6.23 2.8 11.9 7.21 15.68l5.32-6.58c-2.45-2.24-4.06-5.53-4.06-9.1 0-6.86 5.53-12.39 12.39-12.39s12.39 5.53 12.39 12.39c0 6.58-5.18 11.97-11.62 12.32v8.47c11.13-0.42 20.09-9.52 20.09-20.79 0-11.48-9.31-20.86-20.86-20.86s-20.86 9.31-20.86 20.86zm21.56-2.1v12.95c5.67-0.35 10.15-5.11 10.15-10.85 0-6.02-4.9-10.92-10.92-10.92s-10.92 4.9-10.92 10.92c0 3.15 1.33 6.02 3.5 7.98l8.19-10.08zm-7 10.99c1.61 1.12 3.5 1.82 5.53 1.96v-8.82l-5.53 6.86zm5.53 3.43c-2.38-0.14-4.62-0.98-6.44-2.31l-5.32 6.58c3.29 2.52 7.35 3.99 11.76 4.2v-8.47zm27.16-37.87-67.06-1e-5v67.06h6.02l20.02-24.78c-4.69-4.06-7.7-10.08-7.7-16.8 0-12.32 10.01-22.26 22.26-22.26 12.32 0 22.26 10.01 22.26 22.26 0 12.04-9.59 21.84-21.56 22.26v19.32h25.69v-67.06h0.07z" fill="#000" fill-opacity=".25" data-from-right=""></path>
        <path data-cubes d="m0 340v70h70v-70h-70zm35 29.96c-2.1-7.14-8.61-12.46-16.38-12.81 0.35-8.75 7.56-15.68 16.38-15.68s16.03 7 16.38 15.68c-7.77 0.35-14.28 5.6-16.38 12.81zm16.38-11.34c-0.42 8.4-7.14 15.19-15.61 15.61 0.42-8.47 7.14-15.26 15.61-15.61zm0 32.69c-8.4-0.42-15.19-7.14-15.61-15.61 8.47 0.42 15.19 7.21 15.61 15.61zm-17.15-17.08c-8.4-0.42-15.19-7.14-15.61-15.61 8.47 0.35 15.19 7.14 15.61 15.61zm-32.76-32.76h26.46c-6.16 2.66-10.5 8.68-10.78 15.68-7.07 0.28-13.02 4.62-15.68 10.78v-26.46zm15.68 17.15c0.35 7.77 5.6 14.28 12.81 16.38-7.14 2.1-12.46 8.61-12.81 16.38-8.75-0.35-15.68-7.56-15.68-16.38s7-16.03 15.68-16.38zm17.08 17.15c-0.42 8.4-7.14 15.19-15.61 15.61 0.42-8.47 7.21-15.26 15.61-15.61zm-32.76 32.76v-26.46c2.66 6.16 8.68 10.5 15.68 10.78 0.28 7.07 4.62 13.02 10.78 15.68h-26.46zm17.15-15.75c7.77-0.35 14.28-5.6 16.38-12.81 2.1 7.14 8.61 12.46 16.38 12.81-0.35 8.75-7.56 15.68-16.38 15.68-8.82 0.07-15.96-6.93-16.38-15.68zm49.91 15.75h-26.46c6.16-2.66 10.5-8.68 10.78-15.68 7.07-0.28 13.02-4.62 15.68-10.78v26.46zm-15.68-17.22c-0.35-7.77-5.6-14.28-12.81-16.38 7.14-2.1 12.46-8.61 12.81-16.38 8.75 0.35 15.68 7.56 15.68 16.38s-7 16.03-15.68 16.38zm15.68-23.38c-2.66-6.16-8.68-10.5-15.68-10.78-0.28-7.07-4.62-13.02-10.78-15.68h26.46v26.46z" fill="#000" fill-opacity=".25" data-from-bottom=""></path>
        <g data-cubes data-from-left="">
          <path  d="m580 532.47v-22.47h-70v70h70v-46.76-0.35-0.42zm-68.6-20.93h37.73c-8.68 3.22-14.84 11.55-14.84 21.35 0 4.69 1.47 9.1 3.92 12.74-4.48 1.82-8.05 5.39-9.87 9.87-1.68-0.77-3.57-1.26-5.53-1.26-4.97 0-9.31 2.87-11.48 7v-49.7h0.07zm17.85 46.06c3.08 2.03 5.11 5.53 5.11 9.52 0 2.17-0.63 4.2-1.68 5.88-2.59-2.87-4.13-6.72-4.13-10.85 0-1.54 0.28-3.08 0.7-4.55zm-17.85 21v-5.6c1.26 2.38 3.15 4.34 5.53 5.6h-5.53zm11.13 0c-6.16-0.21-11.06-5.25-11.06-11.41 0-6.3 5.11-11.48 11.48-11.48 1.82 0 3.5 0.42 5.04 1.19-0.56 1.68-0.84 3.5-0.84 5.32 0 4.69 1.82 8.89 4.76 12.11-2.03 2.52-5.11 4.2-8.54 4.34h-0.84v-0.07zm6.23 0c1.54-0.84 2.94-1.96 4.06-3.29 1.47 1.33 3.15 2.52 5.04 3.29h-9.1zm4.97-4.55c1.26-2.03 2.03-4.41 2.03-6.93 0-4.62-2.45-8.61-6.09-10.92 1.68-4.27 5.11-7.7 9.45-9.38 4.2 5.39 10.71 8.82 17.99 8.82 0.91 0 1.89-0.07 2.8-0.21 0.91 2.03 1.4 4.27 1.4 6.65 0 9.03-7.35 16.38-16.38 16.38-4.34 0.14-8.26-1.61-11.2-4.41zm6.86-27.65c1.4-0.35 2.87-0.63 4.34-0.63 6.09 0 11.48 3.36 14.28 8.33-0.7 0.07-1.4 0.14-2.1 0.14-6.58 0-12.53-3.08-16.52-7.84zm37.94 32.2h-26.46c6.37-2.73 10.78-9.03 10.78-16.38 0-2.45-0.49-4.76-1.4-6.93 7.84-1.47 14.28-7.07 17.08-14.42v37.73zm0-45.36c-0.21 10.36-7.77 18.97-17.71 20.65-3.01-5.67-8.96-9.59-15.82-9.59-1.82 0-3.64 0.28-5.32 0.77-2.45-3.5-3.85-7.7-3.85-12.25 0-11.76 9.59-21.35 21.35-21.35 11.62 0 21.14 9.38 21.35 21v0.77zm0-8.4c-2.31-6.16-7.21-11.06-13.37-13.37h13.37v13.37z" fill="#000" fill-opacity=".25"></path>
          <path  d="m521.34 528.62c3.99 0 7.21-3.22 7.21-7.21s-3.22-7.21-7.21-7.21-7.21 3.22-7.21 7.21 3.22 7.21 7.21 7.21zm0-13.02c3.22 0 5.81 2.59 5.81 5.81s-2.59 5.81-5.81 5.81-5.81-2.59-5.81-5.81 2.59-5.81 5.81-5.81z" fill="#000" fill-opacity=".25"></path>
          </g>
        <path data-cubes data-from-bottom d="m0 170v70h70v-70h-70zm1.47 1.47h23.52c-11.27 3.36-20.16 12.25-23.52 23.52v-23.52zm0 67.06v-23.52c3.36 11.27 12.25 20.16 23.52 23.52h-23.52zm6.72-26.88c0-14.77 12.04-26.81 26.81-26.81s26.81 12.04 26.81 26.81c0 10.01-5.46 18.69-13.58 23.31 4.27-3.71 7-9.17 7-15.26 0-11.13-9.03-20.23-20.23-20.23-11.13 0-20.23 9.03-20.23 20.23 0 6.09 2.73 11.55 7 15.26-8.12-4.55-13.58-13.3-13.58-23.31zm27.79 26.81c-0.35 0-0.63 0.07-0.98 0.07s-0.63 0-0.98-0.07c-4.76-0.49-8.47-4.48-8.47-9.38 0-5.18 4.2-9.45 9.45-9.45 5.18 0 9.45 4.2 9.45 9.45 0 4.9-3.78 8.89-8.47 9.38zm9.87-9.38c0-6.02-4.9-10.85-10.85-10.85s-10.85 4.9-10.85 10.85c0 3.08 1.26 5.81 3.29 7.84-6.58-2.94-11.2-9.52-11.2-17.15 0-10.36 8.4-18.76 18.76-18.76s18.76 8.4 18.76 18.76c0 7.63-4.62 14.21-11.2 17.15 2.03-2.03 3.29-4.76 3.29-7.84zm22.68 9.45h-23.52c11.27-3.36 20.16-12.25 23.52-23.52v23.52zm-14.35-6.09c5.6-5.18 9.1-12.6 9.1-20.79 0-15.61-12.67-28.28-28.28-28.28s-28.28 12.67-28.28 28.28c0 8.19 3.5 15.61 9.1 20.79-8.68-6.09-14.35-16.1-14.35-27.51 0-18.48 15.05-33.53 33.53-33.53s33.53 15.05 33.53 33.53c0 11.41-5.67 21.49-14.35 27.51zm14.35-37.45c-3.36-11.27-12.25-20.16-23.52-23.52h23.52v23.52z" fill="#000" fill-opacity=".25" data-from-bottom="">
        </path>
        <g transform="translate(100,100)" data-cubes data-from-bottom="">
          <path d="M860.839 364.01H850V385.92H860.839H871.678V364.01H860.839C860.909 364.01 860.909 364.01 860.839 364.01ZM851.538 365.48H855.524C853.846 366.46 852.517 367.86 851.538 369.47V365.48ZM851.538 384.45V380.46C852.517 382.14 853.846 383.54 855.524 384.45H851.538ZM870.21 384.45H866.294C867.972 383.47 869.301 382.07 870.28 380.46V384.45H870.21ZM860.909 384.45C855.734 384.45 851.538 380.18 851.538 375C851.538 369.75 855.734 365.55 860.909 365.55C866.084 365.55 870.28 369.82 870.28 375C870.21 380.18 866.014 384.45 860.909 384.45ZM870.21 365.48V369.47C869.231 367.79 867.902 366.39 866.224 365.48H870.21Z" fill="black" fill-opacity="0.25"/>
          <path d="M885.035 364.01H874.195V385.92H885.035H895.874V364.01H885.035ZM875.664 365.48H879.65C877.972 366.46 876.643 367.86 875.664 369.47V365.48ZM875.664 384.45V380.46C876.643 382.14 877.972 383.54 879.65 384.45H875.664ZM894.405 384.45H890.419C892.097 383.47 893.426 382.07 894.405 380.46V384.45ZM885.035 384.45C879.86 384.45 875.664 380.18 875.664 375C875.664 369.75 879.86 365.55 885.035 365.55C890.209 365.55 894.405 369.82 894.405 375C894.405 380.18 890.209 384.45 885.035 384.45ZM894.405 365.48V369.47C893.426 367.79 892.097 366.39 890.419 365.48H894.405Z" fill="black" fill-opacity="0.25"/>
          <path d="M909.161 364.01H898.322V385.92H909.161H920V364.01H909.161ZM899.79 365.48H903.776C902.098 366.46 900.769 367.86 899.79 369.47V365.48ZM899.79 384.45V380.46C900.769 382.14 902.098 383.54 903.776 384.45H899.79ZM918.532 384.45H914.546C916.224 383.47 917.553 382.07 918.532 380.46V384.45ZM909.161 384.45C903.986 384.45 899.79 380.18 899.79 375C899.79 369.75 903.986 365.55 909.161 365.55C914.336 365.55 918.532 369.82 918.532 375C918.532 380.18 914.336 384.45 909.161 384.45ZM918.532 365.48V369.47C917.553 367.79 916.224 366.39 914.546 365.48H918.532Z" fill="black" fill-opacity="0.25"/>
          <path d="M850.067 361.84H871.676V340H850.067V361.84ZM870.207 360.37H866.291C867.97 359.39 869.298 357.99 870.277 356.38V360.37H870.207ZM870.207 341.47V345.46C869.228 343.78 867.9 342.38 866.221 341.47H870.207ZM851.536 341.47H855.522C853.844 342.45 852.515 343.85 851.536 345.46V341.47ZM860.837 341.47C866.012 341.47 870.207 345.74 870.207 350.92C870.207 356.17 866.012 360.37 860.837 360.37C855.662 360.37 851.466 356.1 851.466 350.92C851.536 345.67 855.732 341.47 860.837 341.47ZM851.536 356.38C852.515 358.06 853.844 359.46 855.522 360.37H851.536V356.38Z" fill="black" fill-opacity="0.25"/>
          <path d="M874.195 361.84H895.804V340H874.195V361.84ZM894.405 360.37H890.419C892.097 359.39 893.426 357.99 894.405 356.38V360.37ZM894.405 341.47V345.46C893.426 343.78 892.097 342.38 890.419 341.47H894.405ZM875.664 341.47H879.65C877.972 342.45 876.643 343.85 875.664 345.46V341.47ZM885.035 341.47C890.209 341.47 894.405 345.74 894.405 350.92C894.405 356.17 890.209 360.37 885.035 360.37C879.86 360.37 875.664 356.1 875.664 350.92C875.664 345.67 879.86 341.47 885.035 341.47ZM875.664 356.38C876.643 358.06 877.972 359.46 879.65 360.37H875.664V356.38Z" fill="black" fill-opacity="0.25"/>
          <path d="M898.322 340V361.91H919.93V340H898.322ZM899.79 341.47H903.776C902.098 342.45 900.769 343.85 899.79 345.46V341.47ZM899.79 360.37V356.38C900.769 358.06 902.098 359.46 903.776 360.37H899.79ZM918.532 360.37H914.546C916.224 359.39 917.553 357.99 918.532 356.38V360.37ZM909.161 360.37C903.986 360.37 899.79 356.1 899.79 350.92C899.79 345.67 903.986 341.47 909.161 341.47C914.336 341.47 918.532 345.74 918.532 350.92C918.532 356.1 914.336 360.37 909.161 360.37ZM918.532 345.46C917.553 343.78 916.224 342.38 914.546 341.47H918.532V345.46Z" fill="black" fill-opacity="0.25"/>
          <path d="M850.067 410H871.676V388.09H850.067V410ZM870.207 408.53H866.291C867.97 407.55 869.298 406.15 870.277 404.54V408.53H870.207ZM870.207 389.56V393.55C869.228 391.87 867.9 390.47 866.221 389.56H870.207ZM851.536 389.56H855.522C853.844 390.54 852.515 391.94 851.536 393.55V389.56ZM860.837 389.56C866.012 389.56 870.207 393.83 870.207 399.01C870.207 404.26 866.012 408.46 860.837 408.46C855.662 408.46 851.466 404.19 851.466 399.01C851.536 393.83 855.732 389.56 860.837 389.56ZM851.536 404.47C852.515 406.15 853.844 407.55 855.522 408.46H851.536V404.47Z" fill="black" fill-opacity="0.25"/>
          <path d="M874.195 410H895.804V388.09H874.195V410ZM894.405 408.53H890.419C892.097 407.55 893.426 406.15 894.405 404.54V408.53ZM894.405 389.56V393.55C893.426 391.87 892.097 390.47 890.419 389.56H894.405ZM875.664 389.56H879.65C877.972 390.54 876.643 391.94 875.664 393.55V389.56ZM885.035 389.56C890.209 389.56 894.405 393.83 894.405 399.01C894.405 404.26 890.209 408.46 885.035 408.46C879.86 408.46 875.664 404.19 875.664 399.01C875.664 393.83 879.86 389.56 885.035 389.56ZM875.664 404.47C876.643 406.15 877.972 407.55 879.65 408.46H875.664V404.47Z" fill="black" fill-opacity="0.25"/>
          <path d="M898.322 410H919.93V388.09H898.322V410ZM918.532 408.53H914.546C916.224 407.55 917.553 406.15 918.532 404.54V408.53ZM918.532 389.56V393.55C917.553 391.87 916.224 390.47 914.546 389.56H918.532ZM899.79 389.56H903.776C902.098 390.54 900.769 391.94 899.79 393.55V389.56ZM909.161 389.56C914.336 389.56 918.532 393.83 918.532 399.01C918.532 404.26 914.336 408.46 909.161 408.46C903.986 408.46 899.79 404.19 899.79 399.01C899.79 393.83 903.986 389.56 909.161 389.56ZM899.79 404.47C900.769 406.15 902.098 407.55 903.776 408.46H899.79V404.47Z" fill="black" fill-opacity="0.25"/>
        </g>
      </svg>
      h2.title_type_2.uppercased.black
        span все про 
        span.bold.title_type_2_bigger kyїvproekt
    .home-section-custom-1__r
      ul.home-section-custom-1-list
        each v, i in ['історія','натхнення','реновація','виміри','розташування']
          li
            a(href="#").tdn.uppercased.custom-links= v
  // -----------------------------------
  section.home-section.home-map-block
    include ../components/map/map.pug
  // -----------------------------------
  //- section.home-section.home-section-values
  //-   .slider-wrapper
  //-     each v, i in valuesSl
  //-       .slider-wrapper-item
  //-         .slider-wrapper-item__title цінності
  //-         .slider-wrapper-item__subtitle= v.title
  //-         .slider-wrapper-item__cnt 0#{i+1}
  //-         ul.info-list.slider-wrapper-item__list
  //-           each vv, ii in v.ico
  //-             +infoItem(v.valuesItem[ii], 'home_values_0'+vv, 'info-list-item--black')
    
  // -----------------------------------
  section.home-values-block
    .values-slider(data-slider)
      .slide(data-slide)
        span.values-slider__number 01
        ul.slide__content
          li.title.uppercased Цінності
          li.subtitle-small.black.uppercased Синергія
          each val in valueSymergy
            +infoItem(val[1], val[0], '')
        img(src="./assets/images/values/values-slide-image04.jpg" data-mob="./assets/images/values/values-slide-image-mob04.jpg")
      .slide(data-slide)
        span.values-slider__number 02
        ul.slide__content 
          li.title.uppercased Цінності
          li.subtitle-small.black.uppercased ПОЛІФУНКЦІОНАЛЬНІСТЬ
          each val in valuePoly
            +infoItem(val[1], val[0], '')
        img(src="./assets/images/values/values-slide-image02.jpg" data-mob="./assets/images/values/values-slide-image-mob02.jpg")
      .slide(data-slide)
        span.values-slider__number 03
        ul.slide__content
          li.title.uppercased Цінності
          li.subtitle-small.black.uppercased ВІДКРИТІСТЬ
          each val in valueOpening
            +infoItem(val[1], val[0], '')
        img(src="./assets/images/values/values-slide-image03.jpg" data-mob="./assets/images/values/values-slide-image-mob03.jpg")
      .slide(data-slide).active
        span.values-slider__number 04
        ul.slide__content 
          li.title.uppercased Цінності
          li.subtitle-small.black.uppercased Соціальна значимість
          each val in valueSocial
            +infoItem(val[1], val[0], '')
        img(src="./assets/images/values/values-slide-image01.jpg" data-mob="./assets/images/values/values-slide-image-mob01.jpg")
  // -----------------------------------
  section.home-section.home-section-custom-2
    h2.title_type_2.title--white.uppercased
      span kyїvproekt city space 
      span тут народжуються тренди
    .custom-subtitle.yellow.uppercased Комерційний простір
    ul.info-list-custom_2
      each v, i in [1, 2, 3, 4]
        li !{customText1[i]}
    .custom-subtitle.yellow.accordeons-subtitle KYЇVPROEKT CITY SPACE складається з семи елементів, які доповнюють один одно-го:
    .accordeon-list 
      each val in accordeonItems
        .accordeon-item(data-accordeon)
          .accordeon-item__title.uppercased #{val}
          <svg class="accordeon-item__decor" width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <line data-hidden-while-opened x1="12.7646" x2="12.7646" y2="25" stroke="white" stroke-width="2"/>
            <line x1="25" y1="13.5" x2="-8.74228e-08" y2="13.5" stroke="white" stroke-width="2"/>
            </svg>
          ul.accordeon-item__inner
            li Простір для лекцій, конференцій, презентацій, громадських дискусій
            li Освітня платформа
            li Коворкінг
    a(href="#").tdn.button-circle.button-circle--black.home-section-custom-2__btn
      <svg width="71" class='button-circle__ico' height="52" viewBox="0 0 71 52" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="45" cy="26" r="25"/>
        <path d="M0 25.5L45 25.5M45 25.5L38.3182 18M45 25.5L38.3182 33"/>
      </svg>
  +img('home/custom-1--bottom.jpg').home-section.home-section-custom-2__img
  // -----------------------------------
  section.home-section.home-section-developers
    .title-wrap
      h2.title Забудовники
    ul.home-section-developers-list.df
      li.home-section-developers-item
        +img('logo-perfect.svg').home-section-developers-item__img.logo-perfect--size
        h5.home-section-developers-item__title Perfect Group
        p.home-section-developers-item__text 30 компаній ринку нерухомості, які об'єднані під цим брендом, забезпечують повний цикл робот – від початку до повного завершення будівництва.
      li.home-section-developers-item
        +img('logo-saga.svg').home-section-developers-item__img.logo-saga--size
        h5.home-section-developers-item__title Saga development
        p.home-section-developers-item__text Глобальна мета компанії – розвивати міста, спираючись на екосистему партнерства. Втілювати інноваційні та креативні рішення для комфортного життя поколінь.
  // -----------------------------------
  section.home-section.home-section-appartments
    .title-wrap
      h2.title Квартири
    p.home-section-appartments__subtitle Об'єднуємо таланти заради позитивної трансформації Києва
    +a('Дивитися розділ')
  // -----------------------------------
  // -----------------------------------

  // ------------------
  section.home-section.home-section-contact
    .title-wrap
      h2.title Контакти
    .contact-block
      .contact-block__l
        address.home-contact--width.contact-location.df.fdc.aifs
          span.contact-location__label Розташування:
          p.contact-location__adress Київ, Шевченківський район, вул. Богдана Хмельницкого, 16-22
          +a('Показати на Google Maps', "https://goo.gl/maps/FzURhcCMKHm3cupV6")(rel="nofollow" target="_blank").home-section-appartments__btn

        .home-contact--width.contact-schedule.df.fww
          span.contact-schedule__label.w100p Відділ продажів:
          .contact-schedule-l.df.fdc
            a(href="tel:+1234567890").contact-schedule__phone +1234567890
            a(href="mailto:info@kyivproekt.ua").contact-schedule__mail.underline info@kyivproekt.ua
          .contact-schedule-r
            ul.contact-schedule__time
              li Пн-пт: 09:00-19:00
              li Сб: 09:00-17:00
              li Вс: вихідний
      .contact-block__r
        h5.form-label.home-contact--width Залишились питання?
        form(data-home-contact autocomplete="off").home-contact--width
          .form-field-message Введіть ваше ім’я 
          .form-field.form-field-input(data-field-input data-field-name data-status="field--inactive")
            input(type='text' name="name" placeholder="Ім’я:").form-field__input
            .input-message(data-input-message)
            .requaired-block-ico.requaired-block-ico--position
              +svg('requaired')
          
          .form-field-message Введіть ваш телефон
          .form-field.disabled.form-field-input(data-field-input data-field-phone data-status="field--inactive")
            input(type='text' name="phone" placeholder="Телефон:").form-field__input
            .input-message(data-input-message)
            .requaired-block-ico.requaired-block-ico--position
              +svg('requaired')
            .mask-absolute.js-mask-absolute
          
          .form-textarea
            .form-field-message Введіть ваше повідомлення
            textarea(placeholder="Повідомлення:")
          
          .form-btn-wrap.df.jcsb.aic
            .requaired-block.df
              .requaired-block__ico
                +svg('requaired')
              .requaired-block__text обов’язкові поля для
                br
                | заповнення
            +btn('Надіслати')(type="submit" data-btn-submit).home-contact-btn--size
        
  
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
