extends ../layout/main
block variable
  -
    var title_page = 'Home'
    var id_page = 'index-page'
    var class_page = 'index-page'
    var breadcrumbsBtn = 'filter'
    var breadcrumbsSubitem = [
      {
        label: 'About',
        link: pagesLink[0].about
      }
    ]
    var liveText = ['Для тих, хто хоче жити у самому серці столиці,<b> але не готовий жертвувати власною приватністю і комфортом.</b> ', '<b>Жити в серці міста,</b> в оточенні найбільш передової та трендової екосистеми.', '<b>Насолоджуватися</b> неперевершеним видом на місто.', 'Усе найбільш надихаюче, модне та актуальне — <b>у твоєму будинку.</b>', '<b>Користуватися найбільш сучасними</b> технологіями для життя.', 'Жити тут – це означає<b> жити у центрі тяжіння.</b>',]
    var workText = ['Панорама міста, <b>яка надихає.</b>', 'Зручно доставатися у будь-яку точку центру.', '<b>Супер-сучасний коворкінг</b> у будинку.', '<b>Зручно доставатися</b> поблизу.']
    var restText = ['<b>Десятки магазинів,</b> торгівельних центрів, кафе, ресторанів та нічних клубів поряд.', '<b>KITCHEN LAB у будинку:</b> велика кількість кафе і ресторанів під одним дахом.', '<b>Головна київська променада,</b> вулиця Хрещатик – 2 хвилини пішки.', 'KYЇVPROEKT CITY SPACE у будинку <b>– ідеальне місце для шопінгу.</b>', '<b>Чудові місця для пробіжок поблизу:</b> парк ім. Шевченка, Ботанічний сад ім. Фоміна.']
    var customText1 = ['Місце гордості та сили в серці столиці.', 'Поліфункциональний міський простір із комерційною, соціальною та освітньою функціями.', 'Масштабна платформа для найбільш передових брендів та ініціатив – в першу чергу, українських.', 'Більше 100 компаній та організацій резидентів.']
    var valuesSl = [
      {
        title: 'Синергія',
        ico: [1,2,3],
        valuesItem: ["<b>Об'єднуємо таланти</b> заради позитивної трансформації Києва", "<b>KYЇVPROEKT – це экосистема,</b> яку усі стейкхолдери створюють разом", "Архітектура, дизайн, мистецтво та технології, доповнюючи один одне, створюють <b>нову життєву філософію</b>"]
      },
      {
        title: 'Відкритість',
        ico: [4,5,6],
        valuesItem: ['Відкритиість <b>місту</b>','Відкритиість <b>людям</b>','Відкритість <b>інноваціям</b>']
        
      },
      {
        title: 'Поліфункціональність',
        ico: [7,8,9],
        valuesItem: ['<b>Головне – це функція,</b> яка визначає форму','<b>Функціональна різноманітність,</b> яка враховує інтереси усіх стейкхолдерів','<b>Гармонія</b> між корпоративними та публічними просторами']
      },
      {
        title: 'Соціальна значимість',
        ico: [10, 11, 12],
        valuesItem: ['KYЇVPROEKT – це Будинок Культури. <b>Нової Культури.</b>', '<b>Ми підтримуємо найбільш талановиті та новаторські проекти</b> в галузі архітектури, мистецтва, дизайну і технологій', '<b>Ми формуємо надихаючий контекст</b> для народження ідей, які змінюють майбутнє']
      },
    ]
    var accordeonItems = [
      'Fashion LAB',
      'Healthy LAB',
      'Smart LAB',
      'Education LAB',
      'Освітня платформа',
      'Коворкінг',
      'Media LAB',
      'Kids LAB',
      'Kitchen LAB',
    ]
    var valueOpening = [
      ['values-opening-01','Відкритиість <span class="bold"> місту</span>'],
      ['values-opening-02','Відкритиість <span class="bold"> людям</span>'],
      ['values-opening-03','Відкритість <span class="bold"> інноваціям</span>'],
    ]
    var valuePoly = [
      ['values-poly-01','<span class="bold">Головне – це функція,</span> яка визначає форму'],
      ['values-poly-02','<span class="bold">Функціональна різноманітність,</span> яка враховує інтереси усіх стейкхолдерів'],
      ['values-poly-03','<span class="bold">Гармонія</span> між корпоративними та публічними просторами'],
    ]
    var valueSocial = [
      ['values-social-01','KYЇVPROEKT – це Будинок Культури. <span class="bold">Нової Культури</span>'],
      ['values-social-02','<span class="bold">Ми підтримуємо найбільш талановиті та новаторські проєкти</span> в галузі архітектури, мистецтва, дизайну та технологій'],
      ['values-social-03','<span class="bold">Ми формуємо надихаючий контекст</span> для народження ідей, які змінюють майбутнє'],
    ]
    var valueSymergy = [
      ['values-synergy-01','<span class="bold">Об\'єднуємо таланти</span> заради позитивної трансформації Києва'],
      ['values-synergy-02','<span class="bold">KYЇVPROEKT – це экосистема,</span> яку усі стейкхолдери створюють разом'],
      ['values-synergy-03','Архітектура, дизайн, мистецтво та технології, доповнюючи один одне, створюють <span class="bold">нову життєву філософію</span>'],

    ]



block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/home.js')
block content
  //- include ../includes/breadcrumbs.pug
  // -----------------------------------
  // -----------------------------------
  // -----------------------------------
  section.ms
    .ms__slider-wrap
      .ms__slider-nav
        button(data-prev)
          <svg  width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="50" height="50" fill="#EA4041"/>
            <path d="M29 17L22.3182 24.5L29 32" stroke="white"/>
            </svg>
        button(data-next)
          <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="50" height="50" fill="#0065FB"/>
            <path d="M22 17L28.6818 24.5L22 32" stroke="white"/>
            </svg>
      .swiper-container
        .swiper-wrapper
          +img(src="./assets/images/home/main-screen-slide.jpg").swiper-slide
          +img(src="./assets/images/gallery/KP_VIEW_1_FINAL.jpg").swiper-slide
          +img(src="./assets/images/gallery/KP_VIEW_2_FINAL.jpg").swiper-slide
          +img(src="./assets/images/home/main-screen-slide.jpg").swiper-slide
    .ms__text-wrap
      <svg data-cubes-anim data-stagger class="ms__text-decor ms__text-decor_left" width="150" height="250" viewBox="0 0 150 250" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path data-cubes data-from-top d="M50 100H0V150H50V100ZM25.1 124.15L13.55 112.7L25 101.25L36.5 112.75L25.1 124.15ZM24.15 124.9L12.7 136.45L1.25 125L12.75 113.5L24.15 124.9ZM24.9 125.8L36.45 137.25L25 148.7L13.5 137.2L24.9 125.8ZM25.85 125.1L37.3 113.55L48.75 125L37.25 136.5L25.85 125.1ZM38 112.8L48.95 101.8V123.75L38 112.8ZM48.2 101.05L37.2 112.05L26.2 101.05H48.2V101.05ZM12.8 111.95L1.8 101H23.75L12.8 111.95ZM1.05 101.75L12.05 112.75L1.05 123.75V101.75ZM11.95 137.15L1 148.15V126.25L11.95 137.15ZM1.8 148.95L12.8 137.95L23.8 148.95H1.8ZM37.2 138L48.2 148.95H26.25L37.2 138ZM48.95 148.2L37.95 137.2L48.95 126.2V148.2Z" fill="black" fill-opacity="0.25"/>
        <path data-cubes data-from-top d="M100 150H50V200H100V150ZM83.75 191.95C79.2 191.95 75.55 188.25 75.55 183.75C75.55 179.2 79.25 175.55 83.75 175.55C88.3 175.55 91.95 179.25 91.95 183.75C92 188.25 88.3 191.95 83.75 191.95ZM92 188V191.95H88.05C89.7 191.05 91.1 189.7 92 188ZM83.75 174.45C78.65 174.45 74.5 178.6 74.5 183.7C74.5 187.25 76.55 190.35 79.5 191.9H58.05V175.45H75.55V157.95H92V179.4C90.45 176.5 87.35 174.45 83.75 174.45ZM58.05 174.45V158H74.5V174.45H58.05ZM92.3 157H75.55H57.75L51.8 151.05H98.25L92.3 157ZM57 157.75V175.55V192.3L51.05 198.25V151.8L57 157.75ZM57.75 193H92.3L98.25 198.95H51.8L57.75 193ZM93.05 192.25V157.7L99 151.75V198.2L93.05 192.25Z" fill="black" fill-opacity="0.25"/>
        <path data-cubes data-from-top d="M50 50.55V99.5V100H100V50H50V50.55V50.55ZM53.35 57.35L74.15 98.95H67.2L53.35 57.35ZM66.1 98.95H58.5L51.95 56.55L66.1 98.95ZM54.75 57.8L82.2 98.95H75.3L54.75 57.8ZM56.4 58.4L90.2 98.95H83.45L56.4 58.4ZM58.3 59.05L98.2 98.95H91.55L58.3 59.05ZM96.65 92.65L75.85 51.05H82.8L96.65 92.65ZM83.9 51.05H91.5L98.05 93.45L83.9 51.05ZM95.25 92.2L67.8 51.05H74.65L95.25 92.2ZM93.6 91.6L59.8 51.05H66.55L93.6 91.6ZM91.7 90.95L51.8 51.05H58.45L91.7 90.95ZM51.05 57.35L57.45 98.95H51.05V57.35ZM98.95 92.65L92.55 51.05H98.95V92.65Z" fill="black" fill-opacity="0.25"/>
        <path data-cubes data-from-top d="M50 250V200H0V250H50ZM44 202.2C42.2 205.1 38.85 210.55 38.85 216.85C38.85 219.6 40.45 222.5 41.95 225.25C43.4 227.9 44.95 230.65 44.95 233.15C44.95 237.6 43.45 239.45 41.9 241.45C40.45 243.25 39 245.15 38.9 248.95H34.8C34.9 245.45 35.75 243.75 36.7 242C37.75 240 38.85 237.9 38.85 233.15C38.85 230.45 37.8 227.6 36.8 224.85C35.8 222.15 34.8 219.4 34.8 216.85C34.8 210.75 37 205.45 38.15 202.6C38.45 201.85 38.65 201.35 38.75 201.05H44.75C44.5 201.35 44.25 201.75 44 202.2ZM37.2 202.25C36 205.15 33.8 210.55 33.8 216.85C33.8 219.55 34.85 222.4 35.85 225.2C36.85 227.9 37.85 230.65 37.85 233.2C37.85 237.7 36.8 239.65 35.8 241.6C34.85 243.4 33.9 245.25 33.8 249H29.65C29.7 245.45 30.15 243.75 30.6 241.95C31.1 239.95 31.65 237.9 31.65 233.2C31.65 230.55 31.15 227.7 30.65 224.95C30.15 222.25 29.65 219.45 29.65 216.85C29.65 210.7 30.75 205.4 31.35 202.55C31.5 201.85 31.6 201.4 31.65 201.05H37.7C37.55 201.4 37.35 201.8 37.2 202.25ZM30.35 202.35C29.75 205.25 28.65 210.6 28.65 216.85C28.65 219.5 29.15 222.35 29.65 225.1C30.15 227.8 30.65 230.6 30.65 233.15C30.65 237.7 30.1 239.7 29.6 241.65C29.15 243.45 28.65 245.3 28.6 248.95H25.4V201.05H30.6C30.55 201.4 30.45 201.85 30.35 202.35ZM24.5 248.95H21.35C21.3 245.25 20.85 243.4 20.35 241.65C19.85 239.7 19.3 237.7 19.3 233.15C19.3 230.55 19.8 227.8 20.3 225.1C20.8 222.35 21.3 219.5 21.3 216.85C21.3 210.6 20.2 205.25 19.6 202.35C19.5 201.85 19.4 201.4 19.35 201.05H24.45V248.95H24.5ZM18.7 202.55C19.3 205.4 20.4 210.7 20.4 216.85C20.4 219.45 19.9 222.25 19.4 224.95C18.9 227.7 18.4 230.5 18.4 233.2C18.4 237.85 18.95 239.95 19.45 241.95C19.9 243.75 20.35 245.45 20.4 249H16.25C16.15 245.25 15.2 243.4 14.25 241.6C13.25 239.7 12.2 237.7 12.2 233.2C12.2 230.65 13.2 227.9 14.2 225.2C15.2 222.45 16.25 219.6 16.25 216.85C16.25 210.55 14.05 205.15 12.85 202.25C12.65 201.8 12.5 201.4 12.35 201.05H18.4C18.45 201.4 18.55 201.85 18.7 202.55ZM11.9 202.6C13.05 205.45 15.25 210.75 15.25 216.85C15.25 219.4 14.25 222.15 13.25 224.85C12.25 227.6 11.2 230.45 11.2 233.15C11.2 237.9 12.3 239.95 13.35 242C14.3 243.75 15.15 245.45 15.25 248.95H11.1C10.95 245.15 9.50001 243.3 8.10001 241.45C6.55001 239.45 5.05 237.6 5.05 233.15C5.05 230.65 6.55 227.9 8.05 225.25C9.6 222.45 11.15 219.6 11.15 216.85C11.15 210.5 7.8 205.1 6 202.2C5.75 201.8 5.5 201.4 5.3 201.1H11.3C11.4 201.4 11.6 201.85 11.9 202.6ZM48.95 248.95H39.85C39.95 245.5 41.25 243.85 42.65 242.05C44.25 240 45.9 237.9 45.9 233.15C45.9 230.4 44.3 227.55 42.8 224.75C41.35 222.1 39.8 219.3 39.8 216.8C39.8 210.75 43.05 205.5 44.8 202.65C45.3 201.85 45.6 201.35 45.75 201H48.9V248.95H48.95ZM1.05 201.05H4.20001C4.35001 201.4 4.65001 201.9 5.15001 202.7C6.90001 205.55 10.15 210.8 10.15 216.85C10.15 219.35 8.65001 222.1 7.15001 224.8C5.65001 227.55 4.05 230.45 4.05 233.2C4.05 237.95 5.7 240.1 7.3 242.1C8.7 243.85 10 245.55 10.1 249H1V201.05H1.05Z" fill="black" fill-opacity="0.25"/>
        <path data-cubes data-from-top d="M0 0V50H50V0H0ZM25 21.4C23.5 16.3 18.85 12.5 13.3 12.25C13.55 5.99999 18.7 1.05 25 1.05C31.3 1.05 36.45 6.04999 36.7 12.25C31.15 12.5 26.5 16.25 25 21.4ZM36.7 13.3C36.4 19.3 31.6 24.15 25.55 24.45C25.85 18.4 30.65 13.55 36.7 13.3ZM36.7 36.65C30.7 36.35 25.85 31.55 25.55 25.5C31.6 25.8 36.4 30.65 36.7 36.65ZM24.45 24.45C18.45 24.15 13.6 19.35 13.3 13.3C19.35 13.55 24.15 18.4 24.45 24.45ZM1.05 1.05H19.95C15.55 2.95 12.45 7.24999 12.25 12.25C7.2 12.45 2.95 15.55 1.05 19.95V1.05V1.05ZM12.25 13.3C12.5 18.85 16.25 23.5 21.4 25C16.3 26.5 12.5 31.15 12.25 36.7C6 36.45 1.05 31.3 1.05 25C1.05 18.7 6.05 13.55 12.25 13.3ZM24.45 25.55C24.15 31.55 19.35 36.4 13.3 36.7C13.6 30.65 18.45 25.8 24.45 25.55ZM1.05 48.95V30.05C2.95 34.45 7.25 37.55 12.25 37.75C12.45 42.8 15.55 47.05 19.95 48.95H1.05ZM13.3 37.7C18.85 37.45 23.5 33.7 25 28.55C26.5 33.65 31.15 37.45 36.7 37.7C36.45 43.95 31.3 48.9 25 48.9C18.7 48.95 13.6 43.95 13.3 37.7ZM48.95 48.95H30.05C34.45 47.05 37.55 42.75 37.75 37.75C42.8 37.55 47.05 34.45 48.95 30.05V48.95V48.95ZM37.75 36.65C37.5 31.1 33.75 26.45 28.6 24.95C33.7 23.45 37.5 18.8 37.75 13.25C44 13.5 48.95 18.65 48.95 24.95C48.95 31.25 43.95 36.4 37.75 36.65ZM48.95 19.95C47.05 15.55 42.75 12.45 37.75 12.25C37.55 7.19999 34.45 2.95 30.05 1.05H48.95V19.95V19.95Z" fill="black" fill-opacity="0.25"/>
        <path data-cubes data-from-top d="M150 216.05V200H100V250H150V216.6C150 216.5 150 216.4 150 216.35C150 216.25 150 216.15 150 216.05ZM101 201.1H127.95C121.75 203.4 117.35 209.35 117.35 216.35C117.35 219.7 118.4 222.85 120.15 225.45C116.95 226.75 114.4 229.3 113.1 232.5C111.9 231.95 110.55 231.6 109.15 231.6C105.6 231.6 102.5 233.65 100.95 236.6V201.1H101ZM113.75 234C115.95 235.45 117.4 237.95 117.4 240.8C117.4 242.35 116.95 243.8 116.2 245C114.35 242.95 113.25 240.2 113.25 237.25C113.25 236.15 113.45 235.05 113.75 234ZM101 249V245C101.9 246.7 103.25 248.1 104.95 249H101ZM108.95 249C104.55 248.85 101.05 245.25 101.05 240.85C101.05 236.35 104.7 232.65 109.25 232.65C110.55 232.65 111.75 232.95 112.85 233.5C112.45 234.7 112.25 236 112.25 237.3C112.25 240.65 113.55 243.65 115.65 245.95C114.2 247.75 112 248.95 109.55 249.05H108.95V249ZM113.4 249C114.5 248.4 115.5 247.6 116.3 246.65C117.35 247.6 118.55 248.45 119.9 249H113.4ZM116.95 245.75C117.85 244.3 118.4 242.6 118.4 240.8C118.4 237.5 116.65 234.65 114.05 233C115.25 229.95 117.7 227.5 120.8 226.3C123.8 230.15 128.45 232.6 133.65 232.6C134.3 232.6 135 232.55 135.65 232.45C136.3 233.9 136.65 235.5 136.65 237.2C136.65 243.65 131.4 248.9 124.95 248.9C121.85 249 119.05 247.75 116.95 245.75ZM121.85 226C122.85 225.75 123.9 225.55 124.95 225.55C129.3 225.55 133.15 227.95 135.15 231.5C134.65 231.55 134.15 231.6 133.65 231.6C128.95 231.6 124.7 229.4 121.85 226ZM148.95 249H130.05C134.6 247.05 137.75 242.55 137.75 237.3C137.75 235.55 137.4 233.9 136.75 232.35C142.35 231.3 146.95 227.3 148.95 222.05V249V249ZM148.95 216.6C148.8 224 143.4 230.15 136.3 231.35C134.15 227.3 129.9 224.5 125 224.5C123.7 224.5 122.4 224.7 121.2 225.05C119.45 222.55 118.45 219.55 118.45 216.3C118.45 207.9 125.3 201.05 133.7 201.05C142 201.05 148.8 207.75 148.95 216.05V216.6V216.6ZM148.95 210.6C147.3 206.2 143.8 202.7 139.4 201.05H148.95V210.6Z" fill="black" fill-opacity="0.25"/>
        <path data-cubes data-from-top d="M108.1 213.3C110.95 213.3 113.25 211 113.25 208.15C113.25 205.3 110.95 203 108.1 203C105.25 203 102.95 205.3 102.95 208.15C102.95 211 105.25 213.3 108.1 213.3ZM108.1 204C110.4 204 112.25 205.85 112.25 208.15C112.25 210.45 110.4 212.3 108.1 212.3C105.8 212.3 103.95 210.45 103.95 208.15C103.95 205.85 105.8 204 108.1 204Z" fill="black" fill-opacity="0.25"/>
        <rect x="50" width="50" height="50" fill="#f9f9f9"/>
        <rect y="50" width="50" height="50" fill="#f9f9f9"/>
        <rect x="50" y="100" width="50" height="50" fill="#f9f9f9"/>
        <rect y="150" width="50" height="50" fill="#f9f9f9"/>
        <rect x="100" y="150" width="50" height="50" fill="#f9f9f9"/>
        <rect x="50" y="200" width="50" height="50" fill="#f9f9f9"/>
        </svg>
      <svg data-cubes-anim="" data-stagger="" class="ms__text-decor ms__text-decor_right" width="150" height="250" viewBox="0 0 150 250" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path data-cubes="" data-from-right="" d="M75.5 50H50V75.5V100H75.5H100V75.5V50H75.5ZM74.45 61.4H61.4V74.45H51.05C51.35 61.65 61.7 51.3 74.45 51.05V61.4ZM87.5 74.45H75.5V62.45H87.5V74.45ZM62.4 75.5H74.4V87.5H62.4V75.5ZM75.5 75.5H87.5V87.5H75.5V75.5ZM74.45 74.45H62.45V62.45H74.45V74.45ZM61.35 75.5V88.55H74.4V98.9C61.6 98.6 51.25 88.25 51 75.5H61.35ZM75.5 88.55H88.55V75.5H98.9C98.6 88.3 88.25 98.65 75.5 98.9V88.55ZM88.55 74.45V61.4H75.5V51.05C88.3 51.35 98.65 61.7 98.9 74.45H88.55ZM51 51.05H67.8C59.75 53.45 53.4 59.8 51 67.85V51.05ZM51 98.95V82.15C53.4 90.2 59.75 96.55 67.8 98.95H51ZM82.1 98.95C90.15 96.55 96.5 90.2 98.9 82.15V98.95H82.1ZM82.1 51.05H98.9V67.85C96.5 59.8 90.15 53.45 82.1 51.05Z" fill="black" fill-opacity="0.25" data-svg-origin="50 50" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px;"></path>
        <path data-cubes="" data-from-left="" d="M132.65 0H117.4H116.35H100V16.3163V17.3674V32.6326V33.6837V50H116.3H117.35H132.6H133.65H150V33.6837V32.6326V17.3674V16.3163V0H133.7H132.65ZM132.65 46.2963L128.45 33.7337H132.65V46.2963ZM128.1 32.6326L123 17.3674H132.65V32.6326H128.1ZM117.35 3.75375L121.55 16.3163H117.35V3.75375ZM116.3 32.6326H111.75L106.65 17.3674H116.3V32.6326V32.6326ZM116.3 33.6837V46.2462L112.1 33.6837H116.3ZM117.35 17.3674H121.9L127 32.6326H117.35V17.3674ZM133.7 17.3674H138.25L143.35 32.6326H133.7V17.3674V17.3674ZM133.7 16.3163V3.75375L137.9 16.3163H133.7ZM132.65 16.3163H122.65L117.55 1.05105H132.6V16.3163H132.65ZM116.3 16.3163H106.3L101.2 1.05105H116.25V16.3163H116.3ZM101.05 3.75375L105.25 16.3163H101.05V3.75375ZM101.05 17.3674H105.6L110.7 32.6326H101.05V17.3674V17.3674ZM101.05 33.6837H111.05L116.15 48.949H101.1V33.6837H101.05ZM117.35 33.6837H127.35L132.45 48.949H117.4V33.6837H117.35ZM133.7 33.6837H143.7L148.8 48.949H133.75V33.6837H133.7ZM148.95 46.2963L144.75 33.7337H148.95V46.2963ZM148.95 32.6326H144.4L139.3 17.3674H148.95V32.6326V32.6326ZM148.95 16.3163H138.95L133.85 1.05105H148.9V16.3163H148.95Z" fill="black" fill-opacity="0.25" data-svg-origin="100 0" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px;"></path>
        <path data-cubes="" data-from-left="" d="M100 150H150V100H100V150V150ZM141.95 123.9L126.1 108.05H141.95V123.9ZM141.95 126.1V141.95H126.1L141.95 126.1ZM125 141.55L108.45 125L125 108.45L141.55 125L125 141.55ZM108.05 123.9V108.05H123.9L108.05 123.9ZM123.9 141.95H108.05V126.1L123.9 141.95ZM107.75 143H124.95L125 143.05L125.05 143H142.25L148.2 148.95H101.75L107.75 143ZM143 142.25V125.05L143.05 125L143 124.95V107.75L148.95 101.8V148.25L143 142.25ZM142.25 107H125.05L125 106.95L124.95 107H107.75L101.8 101.05H148.25L142.25 107ZM107 107.75V124.95L106.95 125L107 125.05V142.25L101.05 148.2V101.75L107 107.75Z" fill="black" fill-opacity="0.25" data-svg-origin="100 100" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px;"></path>
        <path data-cubes="" data-from-right="" d="M50 150V200H100V150H50ZM51.05 151.05H74.35L51.1 174.3V151.05H51.05ZM51.05 198.95V175.7L74.3 198.95H51.05ZM74.5 197.65L51.85 175L74.5 152.35V197.65ZM75.55 151.05H83C79.65 152.25 76.95 154.8 75.55 158V151.05ZM98.95 198.95H75.5V168.1C77.45 172.65 81.95 175.8 87.2 175.8C92.45 175.8 96.95 172.6 98.9 168.1V198.95H98.95ZM87.25 174.8C80.8 174.8 75.55 169.55 75.55 163.1C75.55 156.65 80.8 151.4 87.25 151.4C93.7 151.4 98.95 156.65 98.95 163.1C98.95 169.55 93.7 174.8 87.25 174.8ZM98.95 158C97.55 154.75 94.85 152.25 91.5 151.05H98.95V158Z" fill="black" fill-opacity="0.25" data-svg-origin="50 150" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px;"></path>
        <path data-cubes="" data-from-right="" d="M81.5723 192.977H92.8398V181.698H81.5723V192.977ZM82.6239 182.75H91.7881V191.924H82.6239V182.75Z" fill="black" fill-opacity="0.25" data-svg-origin="81.57229614257812 181.697998046875" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px;"></path>
        <path data-cubes="" data-from-left="" d="M130.6 250L104.5 250L100 250L100 200L150 200L150 250L130.6 250ZM129.55 235.15C126.15 235.05 123 233.85 120.5 231.95L106.7 249L129.55 249L129.55 235.15ZM115.2 219.3C115.2 223.75 117.2 227.8 120.35 230.5L124.15 225.8C122.4 224.2 121.25 221.85 121.25 219.3C121.25 214.4 125.2 210.45 130.1 210.45C135 210.45 138.95 214.4 138.95 219.3C138.95 224 135.25 227.85 130.65 228.1L130.65 234.15C138.6 233.85 145 227.35 145 219.3C145 211.1 138.35 204.4 130.1 204.4C121.85 204.4 115.2 211.05 115.2 219.3ZM130.6 217.8L130.6 227.05C134.65 226.8 137.85 223.4 137.85 219.3C137.85 215 134.35 211.5 130.05 211.5C125.75 211.5 122.25 215 122.25 219.3C122.25 221.55 123.2 223.6 124.75 225L130.6 217.8ZM125.6 225.65C126.75 226.45 128.1 226.95 129.55 227.05L129.55 220.75L125.6 225.65ZM129.55 228.1C127.85 228 126.25 227.4 124.95 226.45L121.15 231.15C123.5 232.95 126.4 234 129.55 234.15L129.55 228.1ZM148.95 201.05L101.05 201.05L101.05 248.95L105.35 248.95L119.65 231.25C116.3 228.35 114.15 224.05 114.15 219.25C114.15 210.45 121.3 203.35 130.05 203.35C138.85 203.35 145.95 210.5 145.95 219.25C145.95 227.85 139.1 234.85 130.55 235.15L130.55 248.95L148.9 248.95L148.9 201.05L148.95 201.05Z" fill="black" fill-opacity="0.25" data-svg-origin="100 200" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px;"></path>
        <path data-cubes="" data-from-right="" d="M0 0V50H50V0H0ZM1.05 1.05H17.85C9.8 3.45 3.45 9.79999 1.05 17.85V1.05ZM1.05 48.95V32.15C3.45 40.2 9.8 46.55 17.85 48.95H1.05ZM5.85 29.75C5.85 19.2 14.45 10.6 25 10.6C35.55 10.6 44.15 19.2 44.15 29.75C44.15 36.9 40.25 43.1 34.45 46.4C37.5 43.75 39.45 39.85 39.45 35.5C39.45 27.55 33 21.05 25 21.05C17.05 21.05 10.55 27.5 10.55 35.5C10.55 39.85 12.5 43.75 15.55 46.4C9.75 43.15 5.85 36.9 5.85 29.75ZM25.7 48.9C25.45 48.9 25.25 48.95 25 48.95C24.75 48.95 24.55 48.95 24.3 48.9C20.9 48.55 18.25 45.7 18.25 42.2C18.25 38.5 21.25 35.45 25 35.45C28.7 35.45 31.75 38.45 31.75 42.2C31.75 45.7 29.05 48.55 25.7 48.9ZM32.75 42.2C32.75 37.9 29.25 34.45 25 34.45C20.75 34.45 17.25 37.95 17.25 42.2C17.25 44.4 18.15 46.35 19.6 47.8C14.9 45.7 11.6 41 11.6 35.55C11.6 28.15 17.6 22.15 25 22.15C32.4 22.15 38.4 28.15 38.4 35.55C38.4 41 35.1 45.7 30.4 47.8C31.85 46.35 32.75 44.4 32.75 42.2ZM48.95 48.95H32.15C40.2 46.55 46.55 40.2 48.95 32.15V48.95V48.95ZM38.7 44.6C42.7 40.9 45.2 35.6 45.2 29.75C45.2 18.6 36.15 9.55001 25 9.55001C13.85 9.55001 4.8 18.6 4.8 29.75C4.8 35.6 7.3 40.9 11.3 44.6C5.1 40.25 1.05 33.1 1.05 24.95C1.05 11.75 11.8 1 25 1C38.2 1 48.95 11.75 48.95 24.95C48.95 33.1 44.9 40.3 38.7 44.6ZM48.95 17.85C46.55 9.79999 40.2 3.45 32.15 1.05H48.95V17.85V17.85Z" fill="black" fill-opacity="0.25" data-svg-origin="0 0" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px;"></path>
        <rect x="100" y="50" width="50" height="50" fill="#f9f9f9"></rect>
        <rect x="50" y="100" width="50" height="50" fill="#f9f9f9"></rect>
        <rect x="50" width="50" height="50" fill="#f9f9f9"></rect>
        <rect x="50" y="200" width="50" height="50" fill="#f9f9f9"></rect>
        <rect x="100" y="150" width="50" height="50" fill="#f9f9f9"></rect>
        <rect y="50" width="50" height="50" fill="#f9f9f9"></rect>
        </svg>
      <svg class="ms-logo" width="92" height="154" viewBox="0 0 92 154" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.758789 -7.62939e-06L0.758789 41.4514L42.5399 41.4514L42.5399 -7.62564e-06L0.758789 -7.62939e-06Z" fill="#02996D"/>
        <path d="M42.5595 41.4898H0.77832V82.9412H42.5595V41.4898Z" fill="#FDC60C"/>
        <path d="M42.499 41.4898V82.8807H84.2802L42.499 41.4898Z" fill="black"/>
        <path d="M70.3925 41.49C81.9301 41.49 91.2831 32.2108 91.2831 20.7643C91.2831 9.31778 81.9301 0.0385742 70.3925 0.0385742C58.855 0.0385742 49.502 9.31778 49.502 20.7643C49.502 32.2108 58.855 41.49 70.3925 41.49Z" fill="#EA4041"/>
        <path d="M42.498 41.4918C42.498 18.5909 23.8 0.0404663 0.716797 0.0404663V41.4918H42.498Z" fill="#0065FB"/>
        <path d="M30.319 102.276C31.5042 102.276 32.4651 101.323 32.4651 100.147C32.4651 98.9707 31.5042 98.0175 30.319 98.0175C29.1337 98.0175 28.1729 98.9707 28.1729 100.147C28.1729 101.323 29.1337 102.276 30.319 102.276Z" fill="black"/>
        <path d="M35.2399 102.276C36.4251 102.276 37.386 101.323 37.386 100.147C37.386 98.9707 36.4251 98.0175 35.2399 98.0175C34.0546 98.0175 33.0938 98.9707 33.0938 100.147C33.0938 101.323 34.0546 102.276 35.2399 102.276Z" fill="black"/>
        <path d="M0.7538 103.524H4.89801V110.793H4.93501L9.52324 103.524H13.8895L8.48719 111.6L14.2225 119.713H9.33823L4.89801 112.738H4.86101V119.713H0.716797V103.524H0.7538Z" fill="black"/>
        <path d="M23.8058 113.803V119.676H19.6616V113.803L14.7773 103.524H19.2916L21.6967 110.022L24.1388 103.524H28.616L23.8058 113.803Z" fill="black"/>
        <path d="M30.7246 103.524H34.8688V119.676H30.7246V103.524Z" fill="black"/>
        <path d="M46.7471 119.676H42.4549L37.0156 103.524H41.2709L44.564 114.867H44.601L47.8942 103.524H52.1864L46.7471 119.676Z" fill="black"/>
        <path d="M11.2993 134.801C9.89326 136.012 8.37618 136.196 6.52609 136.196H4.713V141.262H0.716797V125.109H6.04507C7.71015 125.109 9.70825 125.183 11.0773 126.284C12.3724 127.349 13.0014 128.89 13.0014 130.579C13.0384 132.048 12.4464 133.773 11.2993 134.801ZM6.30408 128.707H4.75V132.561H6.45209C7.82116 132.561 9.04222 132.268 9.04222 130.616C9.04222 128.927 7.67315 128.707 6.30408 128.707Z" fill="black"/>
        <path d="M22.7332 141.262L18.959 136.049H18.922V141.262H14.9258V125.109H20.069C21.7711 125.109 23.6952 125.146 25.1013 126.284C26.4334 127.349 27.0994 129.001 27.0994 130.689C27.0994 133.186 25.6193 135.351 23.0662 135.792L27.5064 141.298H22.7332V141.262ZM20.4391 128.707H18.922V133.222H20.4021C21.9561 133.222 23.1402 132.561 23.1402 130.91C23.1032 129.294 21.8451 128.707 20.4391 128.707Z" fill="black"/>
        <path d="M37.1646 141.555C32.5764 141.555 28.6172 138.031 28.6172 133.369C28.6172 132.158 28.8022 131.02 29.2462 129.918C29.5052 129.294 29.8753 128.634 30.3193 128.12C31.9844 125.917 34.4265 124.816 37.2016 124.816C41.9749 124.816 45.8231 128.45 45.8231 133.222C45.7861 137.958 41.9379 141.555 37.1646 141.555ZM37.2016 128.413C34.5375 128.413 32.7614 130.616 32.7614 133.149C32.7614 135.719 34.5375 137.958 37.2386 137.958C39.8658 137.958 41.6049 135.682 41.6049 133.222C41.6419 130.689 39.8658 128.413 37.2016 128.413Z" fill="black"/>
        <path d="M47.3779 141.262V125.109H56.4434V128.744H51.3741V131.24H56.2954V134.874H51.3741V137.664H56.4434V141.298H47.3779V141.262Z" fill="black"/>
        <path d="M67.8372 141.262L63.3969 134.287H63.3599V141.262H59.1787V125.109H63.3229V132.378H63.3599L67.9482 125.109H72.3144L66.9121 133.186L72.6475 141.298H67.8372V141.262Z" fill="black"/>
        <path d="M80.9737 128.707V141.262H76.8295V128.707H73.6104V125.073H84.1929V128.707H80.9737Z" fill="black"/>
        <path d="M1.78996 153.009C1.08692 152.348 0.753906 151.541 0.753906 150.513C0.753906 149.485 1.08692 148.677 1.78996 148.016C2.493 147.356 3.34405 147.062 4.38011 147.062C5.04614 147.062 5.63818 147.209 6.1562 147.466V148.824C5.63818 148.494 5.04614 148.31 4.41711 148.31C3.78807 148.31 3.27004 148.53 2.82602 148.934C2.419 149.338 2.19698 149.852 2.19698 150.476C2.19698 151.1 2.419 151.614 2.86302 152.054C3.30705 152.458 3.82507 152.642 4.49111 152.642C5.23115 152.642 5.82319 152.458 6.30421 152.054V153.413C5.74918 153.743 5.12015 153.89 4.41711 153.89C3.30705 154 2.456 153.67 1.78996 153.009Z" fill="black"/>
        <path d="M8.93156 147.245H7.5625V153.853H8.93156V147.245Z" fill="black"/>
        <path d="M10.1152 147.245H15.7025V148.457H13.5934V153.853H12.2243V148.457H10.1152V147.245Z" fill="black"/>
        <path d="M18.7366 153.853V150.88L16.1465 147.245H17.7746L19.4027 149.595L21.1048 147.245H22.6588L20.1057 150.843V153.853H18.7366Z" fill="black"/>
        <path d="M25.7676 153.266V151.834C26.0266 152.054 26.3966 152.275 26.8776 152.458C27.3587 152.642 27.8027 152.715 28.2467 152.715C28.9868 152.715 29.5418 152.458 29.5418 151.944C29.5418 151.724 29.4308 151.504 29.2088 151.394C29.0978 151.32 29.0238 151.283 28.8388 151.21L28.6167 151.137L28.0987 150.99L27.6177 150.843C27.5067 150.806 27.3587 150.77 27.1737 150.696C26.9886 150.623 26.8406 150.549 26.7296 150.513C26.5446 150.402 26.2116 150.145 26.1006 149.925C25.9896 149.705 25.8786 149.375 25.8786 149.007C25.8786 148.42 26.1006 147.943 26.5446 147.612C26.9886 147.282 27.6177 147.099 28.3947 147.099C29.1718 147.099 29.9118 147.282 30.5779 147.649V148.971C29.9118 148.567 29.1718 148.347 28.3947 148.347C27.6547 148.347 27.2477 148.567 27.2477 149.007C27.2477 149.228 27.3957 149.375 27.6177 149.448C27.7287 149.521 27.9877 149.595 28.1727 149.632C28.3577 149.668 28.6907 149.778 28.9128 149.852C29.5418 150.035 29.9118 150.219 30.3558 150.549C30.7999 150.88 31.0219 151.32 31.0219 151.944C31.0219 152.568 30.7629 153.082 30.2818 153.449C29.7638 153.816 29.1348 154 28.3947 154C27.2847 154 26.4706 153.743 25.7676 153.266Z" fill="black"/>
        <path d="M32.1689 153.853V147.245H35.0921C35.7952 147.245 36.3872 147.429 36.7942 147.796C37.2012 148.163 37.4232 148.64 37.4232 149.228C37.4232 149.815 37.2012 150.292 36.7942 150.659C36.3872 151.027 35.7952 151.21 35.0921 151.21H33.538V153.817H32.1689V153.853ZM33.575 150.072H35.0181C35.6841 150.072 36.0542 149.778 36.0542 149.265C36.0542 148.751 35.6471 148.457 35.0181 148.457H33.575V150.072Z" fill="black"/>
        <path d="M37.3125 153.853L40.1617 147.209H41.4937L44.3429 153.853H42.8998L42.2338 152.311H39.4216L38.7556 153.853H37.3125ZM39.8286 151.21H41.7897L40.8277 148.897L39.8286 151.21Z" fill="black"/>
        <path d="M45.6747 153.009C44.9717 152.348 44.6387 151.541 44.6387 150.513C44.6387 149.485 44.9717 148.677 45.6747 148.016C46.3778 147.356 47.2288 147.062 48.2649 147.062C48.9309 147.062 49.5229 147.209 50.0409 147.466V148.824C49.5229 148.494 48.9309 148.31 48.3019 148.31C47.6728 148.31 47.1548 148.53 46.7108 148.934C46.3038 149.338 46.0817 149.852 46.0817 150.476C46.0817 151.1 46.3038 151.614 46.7478 152.054C47.1918 152.458 47.7098 152.642 48.3759 152.642C49.1159 152.642 49.7079 152.458 50.1889 152.054V153.413C49.6339 153.743 49.0049 153.89 48.3019 153.89C47.1918 154 46.3408 153.67 45.6747 153.009Z" fill="black"/>
        <path d="M51.4111 153.853V147.245H56.3324V148.457H52.7802V149.742H55.6294V150.916H52.7802V152.642H56.4434V153.853H51.4111Z" fill="black"/>
        </svg>
      .subtitle.black <span class="bold">Суперсучасний простір для життя</span> з унікальним панорамним вікновидом на історичний центр
      +btn('Дізнатися більше')
  section.colorfull-block
    .colorfull-block__wrap
      <span class="blue">kyїvproekt</span>&nbsp;/&nbsp;<span class="green">city space</span>&nbsp;/&nbsp;<span class="red">kyїvproekt</span>&nbsp;/&nbsp;<span class="yellow">city space</span>&nbsp;/
  

  // -----------------------------------
  section.home-section.home-section-live
    .title-wrap
      h2.title.title--white Жити
    ul.home-section-live-list.info-list.df.fww
      each v, i in [1, 2, 3, 4, 5, 6]
        +infoItem(liveText[i], 'iro_0'+v, 'info-list-item--white')
  // -----------------------------------
  // -----------------------------------
  section.home-section.home-section-work.df.fdc.jcc(data-home-paralax)
    .title-wrap
      h2.title Працювати
    ul.info-list.home-section-work-list.df.fdc
      each v, i in [1, 2, 3, 4]
        +infoItem(workText[i], 'home_work_0'+v, 'info-list-item--black')(class="half-opacity")
  // -----------------------------------
  // -----------------------------------
  section.home-section.home-section-rest
    .home-section-rest__l
      .title-wrap
        h2.title Відпочивати
      ul.info-list
        each v, i in [1, 2, 3, 4, 5]
          +infoItem(restText[i], 'home_rest_0'+v, 'info-list-item--black')(class="half-opacity")
    .home-section-rest__r
  // -----------------------------------

  // -----------------------------------
  section.home-section.home-section-custom-1
    .home-section-custom-1__l
      <svg class="home-section-custom-1__decor" viewBox="0 0 650 410" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M607.742 257.15H600V272.8H607.742H615.485V257.15H607.742C607.792 257.15 607.792 257.15 607.742 257.15ZM601.099 258.2H603.946C602.747 258.9 601.798 259.9 601.099 261.05V258.2ZM601.099 271.75V268.9C601.798 270.1 602.747 271.1 603.946 271.75H601.099ZM614.436 271.75H611.638C612.837 271.05 613.786 270.05 614.486 268.9V271.75H614.436ZM607.792 271.75C604.096 271.75 601.099 268.7 601.099 265C601.099 261.25 604.096 258.25 607.792 258.25C611.489 258.25 614.486 261.3 614.486 265C614.436 268.7 611.439 271.75 607.792 271.75ZM614.436 258.2V261.05C613.736 259.85 612.787 258.85 611.588 258.2H614.436Z" fill="black" fill-opacity="0.25"/>
        <path d="M625.025 257.15H617.282V272.8H625.025H632.767V257.15H625.025ZM618.331 258.2H621.178C619.98 258.9 619.03 259.9 618.331 261.05V258.2ZM618.331 271.75V268.9C619.03 270.1 619.98 271.1 621.178 271.75H618.331ZM631.718 271.75H628.871C630.07 271.05 631.019 270.05 631.718 268.9V271.75ZM625.025 271.75C621.328 271.75 618.331 268.7 618.331 265C618.331 261.25 621.328 258.25 625.025 258.25C628.721 258.25 631.718 261.3 631.718 265C631.718 268.7 628.721 271.75 625.025 271.75ZM631.718 258.2V261.05C631.019 259.85 630.07 258.85 628.871 258.2H631.718Z" fill="black" fill-opacity="0.25"/>
        <path d="M642.258 257.15H634.516V272.8H642.258H650V257.15H642.258ZM635.565 258.2H638.412C637.213 258.9 636.264 259.9 635.565 261.05V258.2ZM635.565 271.75V268.9C636.264 270.1 637.213 271.1 638.412 271.75H635.565ZM648.951 271.75H646.104C647.303 271.05 648.252 270.05 648.951 268.9V271.75ZM642.258 271.75C638.562 271.75 635.565 268.7 635.565 265C635.565 261.25 638.562 258.25 642.258 258.25C645.954 258.25 648.951 261.3 648.951 265C648.951 268.7 645.954 271.75 642.258 271.75ZM648.951 258.2V261.05C648.252 259.85 647.303 258.85 646.104 258.2H648.951Z" fill="black" fill-opacity="0.25"/>
        <path d="M600.048 255.6H615.482V240H600.048V255.6ZM614.434 254.55H611.636C612.835 253.85 613.784 252.85 614.483 251.7V254.55H614.434ZM614.434 241.05V243.9C613.734 242.7 612.785 241.7 611.586 241.05H614.434ZM601.097 241.05H603.944C602.745 241.75 601.796 242.75 601.097 243.9V241.05ZM607.74 241.05C611.437 241.05 614.434 244.1 614.434 247.8C614.434 251.55 611.437 254.55 607.74 254.55C604.044 254.55 601.047 251.5 601.047 247.8C601.097 244.05 604.094 241.05 607.74 241.05ZM601.097 251.7C601.796 252.9 602.745 253.9 603.944 254.55H601.097V251.7Z" fill="black" fill-opacity="0.25"/>
        <path d="M617.282 255.6H632.717V240H617.282V255.6ZM631.718 254.55H628.871C630.07 253.85 631.019 252.85 631.718 251.7V254.55ZM631.718 241.05V243.9C631.019 242.7 630.07 241.7 628.871 241.05H631.718ZM618.331 241.05H621.178C619.98 241.75 619.03 242.75 618.331 243.9V241.05ZM625.025 241.05C628.721 241.05 631.718 244.1 631.718 247.8C631.718 251.55 628.721 254.55 625.025 254.55C621.328 254.55 618.331 251.5 618.331 247.8C618.331 244.05 621.328 241.05 625.025 241.05ZM618.331 251.7C619.03 252.9 619.98 253.9 621.178 254.55H618.331V251.7Z" fill="black" fill-opacity="0.25"/>
        <path d="M634.516 240V255.65H649.95V240H634.516ZM635.565 241.05H638.412C637.213 241.75 636.264 242.75 635.565 243.9V241.05ZM635.565 254.55V251.7C636.264 252.9 637.213 253.9 638.412 254.55H635.565ZM648.951 254.55H646.104C647.303 253.85 648.252 252.85 648.951 251.7V254.55ZM642.258 254.55C638.562 254.55 635.565 251.5 635.565 247.8C635.565 244.05 638.562 241.05 642.258 241.05C645.954 241.05 648.951 244.1 648.951 247.8C648.951 251.5 645.954 254.55 642.258 254.55ZM648.951 243.9C648.252 242.7 647.303 241.7 646.104 241.05H648.951V243.9Z" fill="black" fill-opacity="0.25"/>
        <path d="M600.048 290H615.482V274.35H600.048V290ZM614.434 288.95H611.636C612.835 288.25 613.784 287.25 614.483 286.1V288.95H614.434ZM614.434 275.4V278.25C613.734 277.05 612.785 276.05 611.586 275.4H614.434ZM601.097 275.4H603.944C602.745 276.1 601.796 277.1 601.097 278.25V275.4ZM607.74 275.4C611.437 275.4 614.434 278.45 614.434 282.15C614.434 285.9 611.437 288.9 607.74 288.9C604.044 288.9 601.047 285.85 601.047 282.15C601.097 278.45 604.094 275.4 607.74 275.4ZM601.097 286.05C601.796 287.25 602.745 288.25 603.944 288.9H601.097V286.05Z" fill="black" fill-opacity="0.25"/>
        <path d="M617.282 290H632.717V274.35H617.282V290ZM631.718 288.95H628.871C630.07 288.25 631.019 287.25 631.718 286.1V288.95ZM631.718 275.4V278.25C631.019 277.05 630.07 276.05 628.871 275.4H631.718ZM618.331 275.4H621.178C619.98 276.1 619.03 277.1 618.331 278.25V275.4ZM625.025 275.4C628.721 275.4 631.718 278.45 631.718 282.15C631.718 285.9 628.721 288.9 625.025 288.9C621.328 288.9 618.331 285.85 618.331 282.15C618.331 278.45 621.328 275.4 625.025 275.4ZM618.331 286.05C619.03 287.25 619.98 288.25 621.178 288.9H618.331V286.05Z" fill="black" fill-opacity="0.25"/>
        <path d="M634.516 290H649.95V274.35H634.516V290ZM648.951 288.95H646.104C647.303 288.25 648.252 287.25 648.951 286.1V288.95ZM648.951 275.4V278.25C648.252 277.05 647.303 276.05 646.104 275.4H648.951ZM635.565 275.4H638.412C637.213 276.1 636.264 277.1 635.565 278.25V275.4ZM642.258 275.4C645.954 275.4 648.951 278.45 648.951 282.15C648.951 285.9 645.954 288.9 642.258 288.9C638.562 288.9 635.565 285.85 635.565 282.15C635.565 278.45 638.562 275.4 642.258 275.4ZM635.565 286.05C636.264 287.25 637.213 288.25 638.412 288.9H635.565V286.05Z" fill="black" fill-opacity="0.25"/>
        <path d="M170 360H120V410H170V360ZM145.1 384.15L133.55 372.7L145 361.25L156.5 372.75L145.1 384.15ZM144.15 384.9L132.7 396.45L121.25 385L132.75 373.5L144.15 384.9ZM144.9 385.8L156.45 397.25L145 408.7L133.5 397.2L144.9 385.8ZM145.85 385.1L157.3 373.55L168.75 385L157.25 396.5L145.85 385.1ZM158 372.8L168.95 361.8V383.75L158 372.8ZM168.2 361.05L157.2 372.05L146.2 361.05H168.2ZM132.8 371.95L121.8 361H143.75L132.8 371.95ZM121.05 361.75L132.05 372.75L121.05 383.75V361.75ZM131.95 397.15L121 408.15V386.25L131.95 397.15ZM121.8 408.95L132.8 397.95L143.8 408.95H121.8ZM157.2 398L168.2 408.95H146.25L157.2 398ZM168.95 408.2L157.95 397.2L168.95 386.2V408.2Z" fill="black" fill-opacity="0.25"/>
        <path d="M507.5 0H482V25.5V50H507.5H532V25.5V0H507.5ZM506.45 11.4H493.4V24.45H483.05C483.35 11.65 493.7 1.3 506.45 1.05V11.4ZM519.5 24.45H507.5V12.45H519.5V24.45ZM494.4 25.5H506.4V37.5H494.4V25.5ZM507.5 25.5H519.5V37.5H507.5V25.5ZM506.45 24.45H494.45V12.45H506.45V24.45ZM493.35 25.5V38.55H506.4V48.9C493.6 48.6 483.25 38.25 483 25.5H493.35ZM507.5 38.55H520.55V25.5H530.9C530.6 38.3 520.25 48.65 507.5 48.9V38.55ZM520.55 24.45V11.4H507.5V1.05C520.3 1.35 530.65 11.7 530.9 24.45H520.55ZM483 1.05H499.8C491.75 3.45 485.4 9.8 483 17.85V1.05ZM483 48.95V32.15C485.4 40.2 491.75 46.55 499.8 48.95H483ZM514.1 48.95C522.15 46.55 528.5 40.2 530.9 32.15V48.95H514.1ZM514.1 1.05H530.9V17.85C528.5 9.8 522.15 3.45 514.1 1.05Z" fill="black" fill-opacity="0.25"/>
        <path d="M632.65 0H617.4H616.35H600V16.3163V17.3674V32.6326V33.6837V50H616.3H617.35H632.6H633.65H650V33.6837V32.6326V17.3674V16.3163V0H633.7H632.65ZM632.65 46.2963L628.45 33.7337H632.65V46.2963ZM628.1 32.6326L623 17.3674H632.65V32.6326H628.1ZM617.35 3.75375L621.55 16.3163H617.35V3.75375ZM616.3 32.6326H611.75L606.65 17.3674H616.3V32.6326ZM616.3 33.6837V46.2462L612.1 33.6837H616.3ZM617.35 17.3674H621.9L627 32.6326H617.35V17.3674ZM633.7 17.3674H638.25L643.35 32.6326H633.7V17.3674ZM633.7 16.3163V3.75375L637.9 16.3163H633.7ZM632.65 16.3163H622.65L617.55 1.05105H632.6V16.3163H632.65ZM616.3 16.3163H606.3L601.2 1.05105H616.25V16.3163H616.3ZM601.05 3.75375L605.25 16.3163H601.05V3.75375ZM601.05 17.3674H605.6L610.7 32.6326H601.05V17.3674ZM601.05 33.6837H611.05L616.15 48.949H601.1V33.6837H601.05ZM617.35 33.6837H627.35L632.45 48.949H617.4V33.6837H617.35ZM633.7 33.6837H643.7L648.8 48.949H633.75V33.6837H633.7ZM648.95 46.2963L644.75 33.7337H648.95V46.2963ZM648.95 32.6326H644.4L639.3 17.3674H648.95V32.6326ZM648.95 16.3163H638.95L633.85 1.05105H648.9V16.3163H648.95Z" fill="black" fill-opacity="0.25"/>
        <path d="M480 410H530V360H480V410ZM487.75 403H522.3L528.25 408.95H481.8L487.75 403ZM521.95 401.1C518.5 397.4 507.9 387.1 505.75 385L521.95 368.8V401.1ZM488.05 401.2V368H521.25L488.05 401.2ZM505 385.75C507.15 387.8 518.05 398.45 521.35 401.95H488.8L505 385.75ZM523 402.25V367.7L528.95 361.75V408.2L523 402.25ZM522.25 367H487.7L481.75 361.05H528.2L522.25 367ZM487 367.75V402.3L481.05 408.25V361.8L487 367.75Z" fill="black" fill-opacity="0.25"/>
        <path d="M360 50H410V0H360V50ZM401.95 23.9L386.1 8.05H401.95V23.9ZM401.95 26.1V41.95H386.1L401.95 26.1ZM385 41.55L368.45 25L385 8.45L401.55 25L385 41.55ZM368.05 23.9V8.05H383.9L368.05 23.9ZM383.9 41.95H368.05V26.1L383.9 41.95ZM367.75 43H384.95L385 43.05L385.05 43H402.25L408.2 48.95H361.75L367.75 43ZM403 42.25V25.05L403.05 25L403 24.95V7.75L408.95 1.8V48.25L403 42.25ZM402.25 7H385.05L385 6.95L384.95 7H367.75L361.8 1.05H408.25L402.25 7ZM367 7.75V24.95L366.95 25L367 25.05V42.25L361.05 48.2V1.75L367 7.75Z" fill="black" fill-opacity="0.25"/>
        <path d="M50 360H0V410H50V360ZM33.75 401.95C29.2 401.95 25.55 398.25 25.55 393.75C25.55 389.2 29.25 385.55 33.75 385.55C38.3 385.55 41.95 389.25 41.95 393.75C42 398.25 38.3 401.95 33.75 401.95ZM42 398V401.95H38.05C39.7 401.05 41.1 399.7 42 398ZM33.75 384.45C28.65 384.45 24.5 388.6 24.5 393.7C24.5 397.25 26.55 400.35 29.5 401.9H8.05V385.45H25.55V367.95H42V389.4C40.45 386.5 37.35 384.45 33.75 384.45ZM8.05 384.45V368H24.5V384.45H8.05ZM42.3 367H25.55H7.75L1.8 361.05H48.25L42.3 367ZM7 367.75V385.55V402.3L1.05 408.25V361.8L7 367.75ZM7.75 403H42.3L48.25 408.95H1.8L7.75 403ZM43.05 402.25V367.7L49 361.75V408.2L43.05 402.25Z" fill="black" fill-opacity="0.25"/>
        <path d="M120 0.550003V49.5V50H170V0H120V0.550003ZM123.35 7.35001L144.15 48.95H137.2L123.35 7.35001ZM136.1 48.95H128.5L121.95 6.55L136.1 48.95ZM124.75 7.8L152.2 48.95H145.3L124.75 7.8ZM126.4 8.40001L160.2 48.95H153.45L126.4 8.40001ZM128.3 9.05L168.2 48.95H161.55L128.3 9.05ZM166.65 42.65L145.85 1.05H152.8L166.65 42.65ZM153.9 1.05H161.5L168.05 43.45L153.9 1.05ZM165.25 42.2L137.8 1.05H144.65L165.25 42.2ZM163.6 41.6L129.8 1.05H136.55L163.6 41.6ZM161.7 40.95L121.8 1.05H128.45L161.7 40.95ZM121.05 7.35001L127.45 48.95H121.05V7.35001ZM168.95 42.65L162.55 1.05H168.95V42.65Z" fill="black" fill-opacity="0.25"/>
        <path d="M650 360H600V410H650V360ZM649 392.85L641.05 384.95L648.95 377.05V392.85H649ZM649 375.55L639.6 384.95L649 394.35V400.75L633.2 384.95L649 369.15V375.55ZM649 367.7L631.7 384.95L648.95 402.2V408.15L625.75 385L648.95 361.8V367.7H649ZM624.9 399.65L615.65 408.95H609.25L624.95 393.25L640.65 408.95H634.25L624.9 399.65ZM632.75 408.95H617.1L624.9 401.15L632.75 408.95ZM624.9 391.75L607.7 408.95H601.8L625 385.75L648.25 408.95H642.1L624.9 391.75ZM601.05 394.2L610.35 384.9L601.05 375.6V369.15L616.75 384.85L601.05 400.55V394.2ZM601.05 392.7V377.05L608.85 384.85L601.05 392.7ZM601.05 402.05L618.25 384.85L601.05 367.65V361.75L624.25 384.95L601.05 408.15V402.05ZM625.1 370.3L634.4 361H640.8L625.1 376.7L609.4 361H615.8L625.1 370.3ZM617.3 361.05H632.95L625.15 368.85L617.3 361.05ZM625.15 378.2L642.35 361H648.25L625.05 384.2L601.85 361H608L625.15 378.2Z" fill="black" fill-opacity="0.25"/>
        <path d="M290 410V360H240V410H290ZM284 362.2C282.2 365.1 278.85 370.55 278.85 376.85C278.85 379.6 280.45 382.5 281.95 385.25C283.4 387.9 284.95 390.65 284.95 393.15C284.95 397.6 283.45 399.45 281.9 401.45C280.45 403.25 279 405.15 278.9 408.95H274.8C274.9 405.45 275.75 403.75 276.7 402C277.75 400 278.85 397.9 278.85 393.15C278.85 390.45 277.8 387.6 276.8 384.85C275.8 382.15 274.8 379.4 274.8 376.85C274.8 370.75 277 365.45 278.15 362.6C278.45 361.85 278.65 361.35 278.75 361.05H284.75C284.5 361.35 284.25 361.75 284 362.2ZM277.2 362.25C276 365.15 273.8 370.55 273.8 376.85C273.8 379.55 274.85 382.4 275.85 385.2C276.85 387.9 277.85 390.65 277.85 393.2C277.85 397.7 276.8 399.65 275.8 401.6C274.85 403.4 273.9 405.25 273.8 409H269.65C269.7 405.45 270.15 403.75 270.6 401.95C271.1 399.95 271.65 397.9 271.65 393.2C271.65 390.55 271.15 387.7 270.65 384.95C270.15 382.25 269.65 379.45 269.65 376.85C269.65 370.7 270.75 365.4 271.35 362.55C271.5 361.85 271.6 361.4 271.65 361.05H277.7C277.55 361.4 277.35 361.8 277.2 362.25ZM270.35 362.35C269.75 365.25 268.65 370.6 268.65 376.85C268.65 379.5 269.15 382.35 269.65 385.1C270.15 387.8 270.65 390.6 270.65 393.15C270.65 397.7 270.1 399.7 269.6 401.65C269.15 403.45 268.65 405.3 268.6 408.95H265.4V361.05H270.6C270.55 361.4 270.45 361.85 270.35 362.35ZM264.5 408.95H261.35C261.3 405.25 260.85 403.4 260.35 401.65C259.85 399.7 259.3 397.7 259.3 393.15C259.3 390.55 259.8 387.8 260.3 385.1C260.8 382.35 261.3 379.5 261.3 376.85C261.3 370.6 260.2 365.25 259.6 362.35C259.5 361.85 259.4 361.4 259.35 361.05H264.45V408.95H264.5ZM258.7 362.55C259.3 365.4 260.4 370.7 260.4 376.85C260.4 379.45 259.9 382.25 259.4 384.95C258.9 387.7 258.4 390.5 258.4 393.2C258.4 397.85 258.95 399.95 259.45 401.95C259.9 403.75 260.35 405.45 260.4 409H256.25C256.15 405.25 255.2 403.4 254.25 401.6C253.25 399.7 252.2 397.7 252.2 393.2C252.2 390.65 253.2 387.9 254.2 385.2C255.2 382.45 256.25 379.6 256.25 376.85C256.25 370.55 254.05 365.15 252.85 362.25C252.65 361.8 252.5 361.4 252.35 361.05H258.4C258.45 361.4 258.55 361.85 258.7 362.55ZM251.9 362.6C253.05 365.45 255.25 370.75 255.25 376.85C255.25 379.4 254.25 382.15 253.25 384.85C252.25 387.6 251.2 390.45 251.2 393.15C251.2 397.9 252.3 399.95 253.35 402C254.3 403.75 255.15 405.45 255.25 408.95H251.1C250.95 405.15 249.5 403.3 248.1 401.45C246.55 399.45 245.05 397.6 245.05 393.15C245.05 390.65 246.55 387.9 248.05 385.25C249.6 382.45 251.15 379.6 251.15 376.85C251.15 370.5 247.8 365.1 246 362.2C245.75 361.8 245.5 361.4 245.3 361.1H251.3C251.4 361.4 251.6 361.85 251.9 362.6ZM288.95 408.95H279.85C279.95 405.5 281.25 403.85 282.65 402.05C284.25 400 285.9 397.9 285.9 393.15C285.9 390.4 284.3 387.55 282.8 384.75C281.35 382.1 279.8 379.3 279.8 376.8C279.8 370.75 283.05 365.5 284.8 362.65C285.3 361.85 285.6 361.35 285.75 361H288.9V408.95H288.95ZM241.05 361.05H244.2C244.35 361.4 244.65 361.9 245.15 362.7C246.9 365.55 250.15 370.8 250.15 376.85C250.15 379.35 248.65 382.1 247.15 384.8C245.65 387.55 244.05 390.45 244.05 393.2C244.05 397.95 245.7 400.1 247.3 402.1C248.7 403.85 250 405.55 250.1 409H241V361.05H241.05Z" fill="black" fill-opacity="0.25"/>
        <path d="M650 170V120H600V170H650ZM648.95 167.25L630.6 130.55L648.95 121.35V167.25ZM647.25 121.05L630.1 129.6L625.8 121.05H647.25ZM601.05 121.05H624.7L629.2 130.1L601.05 144.15V121.05ZM601.05 145.3L629.65 131L648.65 168.95H601.05V145.3Z" fill="black" fill-opacity="0.25"/>
        <path d="M607.649 163.65H618.899V152.4H607.649V163.65ZM608.699 153.45H617.849V162.6H608.699V153.45Z" fill="black" fill-opacity="0.25"/>
        <path d="M0 0V50H50V0H0ZM1.05 1.05H24.35L1.10001 24.3V1.05H1.05ZM1.05 48.95V25.7L24.3 48.95H1.05ZM24.5 47.65L1.85001 25L24.5 2.35001V47.65ZM25.55 1.05H33C29.65 2.25 26.95 4.8 25.55 8V1.05ZM48.95 48.95H25.5V18.1C27.45 22.65 31.95 25.8 37.2 25.8C42.45 25.8 46.95 22.6 48.9 18.1V48.95H48.95ZM37.25 24.8C30.8 24.8 25.55 19.55 25.55 13.1C25.55 6.65001 30.8 1.40001 37.25 1.40001C43.7 1.40001 48.95 6.65001 48.95 13.1C48.95 19.55 43.7 24.8 37.25 24.8ZM48.95 8C47.55 4.75 44.85 2.25 41.5 1.05H48.95V8Z" fill="black" fill-opacity="0.25"/>
        <path d="M31.5723 42.9767H42.8398V31.6975H31.5723V42.9767ZM32.6239 32.7502H41.7881V41.924H32.6239V32.7502Z" fill="black" fill-opacity="0.25"/>
        <path d="M270.6 50L244.5 50L240 50L240 0L290 2.18557e-06L290 50L270.6 50ZM269.55 35.15C266.15 35.05 263 33.85 260.5 31.95L246.7 49L269.55 49L269.55 35.15ZM255.2 19.3C255.2 23.75 257.2 27.8 260.35 30.5L264.15 25.8C262.4 24.2 261.25 21.85 261.25 19.3C261.25 14.4 265.2 10.45 270.1 10.45C275 10.45 278.95 14.4 278.95 19.3C278.95 24 275.25 27.85 270.65 28.1L270.65 34.15C278.6 33.85 285 27.35 285 19.3C285 11.1 278.35 4.4 270.1 4.4C261.85 4.39999 255.2 11.05 255.2 19.3ZM270.6 17.8L270.6 27.05C274.65 26.8 277.85 23.4 277.85 19.3C277.85 15 274.35 11.5 270.05 11.5C265.75 11.5 262.25 15 262.25 19.3C262.25 21.55 263.2 23.6 264.75 25L270.6 17.8ZM265.6 25.65C266.75 26.45 268.1 26.95 269.55 27.05L269.55 20.75L265.6 25.65ZM269.55 28.1C267.85 28 266.25 27.4 264.95 26.45L261.15 31.15C263.5 32.95 266.4 34 269.55 34.15L269.55 28.1ZM288.95 1.05001L241.05 1.05L241.05 48.95L245.35 48.95L259.65 31.25C256.3 28.35 254.15 24.05 254.15 19.25C254.15 10.45 261.3 3.35001 270.05 3.35001C278.85 3.35001 285.95 10.5 285.95 19.25C285.95 27.85 279.1 34.85 270.55 35.15L270.55 48.95L288.9 48.95L288.9 1.05001L288.95 1.05001Z" fill="black" fill-opacity="0.25"/>
        <path d="M0 240V290H50V240H0ZM25 261.4C23.5 256.3 18.85 252.5 13.3 252.25C13.55 246 18.7 241.05 25 241.05C31.3 241.05 36.45 246.05 36.7 252.25C31.15 252.5 26.5 256.25 25 261.4ZM36.7 253.3C36.4 259.3 31.6 264.15 25.55 264.45C25.85 258.4 30.65 253.55 36.7 253.3ZM36.7 276.65C30.7 276.35 25.85 271.55 25.55 265.5C31.6 265.8 36.4 270.65 36.7 276.65ZM24.45 264.45C18.45 264.15 13.6 259.35 13.3 253.3C19.35 253.55 24.15 258.4 24.45 264.45ZM1.05 241.05H19.95C15.55 242.95 12.45 247.25 12.25 252.25C7.2 252.45 2.95 255.55 1.05 259.95V241.05ZM12.25 253.3C12.5 258.85 16.25 263.5 21.4 265C16.3 266.5 12.5 271.15 12.25 276.7C6 276.45 1.05 271.3 1.05 265C1.05 258.7 6.05 253.55 12.25 253.3ZM24.45 265.55C24.15 271.55 19.35 276.4 13.3 276.7C13.6 270.65 18.45 265.8 24.45 265.55ZM1.05 288.95V270.05C2.95 274.45 7.25 277.55 12.25 277.75C12.45 282.8 15.55 287.05 19.95 288.95H1.05ZM13.3 277.7C18.85 277.45 23.5 273.7 25 268.55C26.5 273.65 31.15 277.45 36.7 277.7C36.45 283.95 31.3 288.9 25 288.9C18.7 288.95 13.6 283.95 13.3 277.7ZM48.95 288.95H30.05C34.45 287.05 37.55 282.75 37.75 277.75C42.8 277.55 47.05 274.45 48.95 270.05V288.95ZM37.75 276.65C37.5 271.1 33.75 266.45 28.6 264.95C33.7 263.45 37.5 258.8 37.75 253.25C44 253.5 48.95 258.65 48.95 264.95C48.95 271.25 43.95 276.4 37.75 276.65ZM48.95 259.95C47.05 255.55 42.75 252.45 37.75 252.25C37.55 247.2 34.45 242.95 30.05 241.05H48.95V259.95Z" fill="black" fill-opacity="0.25"/>
        <path d="M410 376.05V360H360V410H410V376.6C410 376.5 410 376.4 410 376.35C410 376.25 410 376.15 410 376.05ZM361 361.1H387.95C381.75 363.4 377.35 369.35 377.35 376.35C377.35 379.7 378.4 382.85 380.15 385.45C376.95 386.75 374.4 389.3 373.1 392.5C371.9 391.95 370.55 391.6 369.15 391.6C365.6 391.6 362.5 393.65 360.95 396.6V361.1H361ZM373.75 394C375.95 395.45 377.4 397.95 377.4 400.8C377.4 402.35 376.95 403.8 376.2 405C374.35 402.95 373.25 400.2 373.25 397.25C373.25 396.15 373.45 395.05 373.75 394ZM361 409V405C361.9 406.7 363.25 408.1 364.95 409H361ZM368.95 409C364.55 408.85 361.05 405.25 361.05 400.85C361.05 396.35 364.7 392.65 369.25 392.65C370.55 392.65 371.75 392.95 372.85 393.5C372.45 394.7 372.25 396 372.25 397.3C372.25 400.65 373.55 403.65 375.65 405.95C374.2 407.75 372 408.95 369.55 409.05H368.95V409ZM373.4 409C374.5 408.4 375.5 407.6 376.3 406.65C377.35 407.6 378.55 408.45 379.9 409H373.4ZM376.95 405.75C377.85 404.3 378.4 402.6 378.4 400.8C378.4 397.5 376.65 394.65 374.05 393C375.25 389.95 377.7 387.5 380.8 386.3C383.8 390.15 388.45 392.6 393.65 392.6C394.3 392.6 395 392.55 395.65 392.45C396.3 393.9 396.65 395.5 396.65 397.2C396.65 403.65 391.4 408.9 384.95 408.9C381.85 409 379.05 407.75 376.95 405.75ZM381.85 386C382.85 385.75 383.9 385.55 384.95 385.55C389.3 385.55 393.15 387.95 395.15 391.5C394.65 391.55 394.15 391.6 393.65 391.6C388.95 391.6 384.7 389.4 381.85 386ZM408.95 409H390.05C394.6 407.05 397.75 402.55 397.75 397.3C397.75 395.55 397.4 393.9 396.75 392.35C402.35 391.3 406.95 387.3 408.95 382.05V409ZM408.95 376.6C408.8 384 403.4 390.15 396.3 391.35C394.15 387.3 389.9 384.5 385 384.5C383.7 384.5 382.4 384.7 381.2 385.05C379.45 382.55 378.45 379.55 378.45 376.3C378.45 367.9 385.3 361.05 393.7 361.05C402 361.05 408.8 367.75 408.95 376.05V376.6ZM408.95 370.6C407.3 366.2 403.8 362.7 399.4 361.05H408.95V370.6Z" fill="black" fill-opacity="0.25"/>
        <path d="M368.1 373.3C370.95 373.3 373.25 371 373.25 368.15C373.25 365.3 370.95 363 368.1 363C365.25 363 362.95 365.3 362.95 368.15C362.95 371 365.25 373.3 368.1 373.3ZM368.1 364C370.4 364 372.25 365.85 372.25 368.15C372.25 370.45 370.4 372.3 368.1 372.3C365.8 372.3 363.95 370.45 363.95 368.15C363.95 365.85 365.8 364 368.1 364Z" fill="black" fill-opacity="0.25"/>
        <path d="M0 120V170H50V120H0ZM1.05 121.05H17.85C9.8 123.45 3.45 129.8 1.05 137.85V121.05ZM1.05 168.95V152.15C3.45 160.2 9.8 166.55 17.85 168.95H1.05ZM5.85 149.75C5.85 139.2 14.45 130.6 25 130.6C35.55 130.6 44.15 139.2 44.15 149.75C44.15 156.9 40.25 163.1 34.45 166.4C37.5 163.75 39.45 159.85 39.45 155.5C39.45 147.55 33 141.05 25 141.05C17.05 141.05 10.55 147.5 10.55 155.5C10.55 159.85 12.5 163.75 15.55 166.4C9.75 163.15 5.85 156.9 5.85 149.75ZM25.7 168.9C25.45 168.9 25.25 168.95 25 168.95C24.75 168.95 24.55 168.95 24.3 168.9C20.9 168.55 18.25 165.7 18.25 162.2C18.25 158.5 21.25 155.45 25 155.45C28.7 155.45 31.75 158.45 31.75 162.2C31.75 165.7 29.05 168.55 25.7 168.9ZM32.75 162.2C32.75 157.9 29.25 154.45 25 154.45C20.75 154.45 17.25 157.95 17.25 162.2C17.25 164.4 18.15 166.35 19.6 167.8C14.9 165.7 11.6 161 11.6 155.55C11.6 148.15 17.6 142.15 25 142.15C32.4 142.15 38.4 148.15 38.4 155.55C38.4 161 35.1 165.7 30.4 167.8C31.85 166.35 32.75 164.4 32.75 162.2ZM48.95 168.95H32.15C40.2 166.55 46.55 160.2 48.95 152.15V168.95ZM38.7 164.6C42.7 160.9 45.2 155.6 45.2 149.75C45.2 138.6 36.15 129.55 25 129.55C13.85 129.55 4.8 138.6 4.8 149.75C4.8 155.6 7.3 160.9 11.3 164.6C5.1 160.25 1.05 153.1 1.05 144.95C1.05 131.75 11.8 121 25 121C38.2 121 48.95 131.75 48.95 144.95C48.95 153.1 44.9 160.3 38.7 164.6ZM48.95 137.85C46.55 129.8 40.2 123.45 32.15 121.05H48.95V137.85Z" fill="black" fill-opacity="0.25"/>
        </svg>
      h2.title_type_2.uppercased.black
        span все про 
        span.bold.title_type_2_bigger kyїvproekt
    .home-section-custom-1__r
      ul.home-section-custom-1-list
        each v, i in ['історія','натхнення','реновація','виміри','розташування']
          li
            a(href="#").tdn.uppercased.custom-links= v
  // -----------------------------------
  section.home-section.home-map-block
    include ../components/map/map.pug
  // -----------------------------------
  //- section.home-section.home-section-values
  //-   .slider-wrapper
  //-     each v, i in valuesSl
  //-       .slider-wrapper-item
  //-         .slider-wrapper-item__title цінності
  //-         .slider-wrapper-item__subtitle= v.title
  //-         .slider-wrapper-item__cnt 0#{i+1}
  //-         ul.info-list.slider-wrapper-item__list
  //-           each vv, ii in v.ico
  //-             +infoItem(v.valuesItem[ii], 'home_values_0'+vv, 'info-list-item--black')
    
  // -----------------------------------
  section.home-values-block
    .values-slider(data-slider)
      .slide(data-slide).active
        span.values-slider__number 01
        ul.slide__content 
          li.title.uppercased Цінності
          li.subtitle-small.black.uppercased Соціальна значимість
          each val in valueSocial
            +infoItem(val[1], val[0], '')
        img(src="./assets/images/values/values-slide-image01.jpg" data-mob="./assets/images/values/values-slide-image-mob01.jpg")
      .slide(data-slide)
        span.values-slider__number 02
        ul.slide__content 
          li.title.uppercased Цінності
          li.subtitle-small.black.uppercased ПОЛІФУНКЦІОНАЛЬНІСТЬ
          each val in valuePoly
            +infoItem(val[1], val[0], '')
        img(src="./assets/images/values/values-slide-image02.jpg" data-mob="./assets/images/values/values-slide-image-mob02.jpg")
      .slide(data-slide)
        span.values-slider__number 03
        ul.slide__content
          li.title.uppercased Цінності
          li.subtitle-small.black.uppercased ВІДКРИТІСТЬ
          each val in valueOpening
            +infoItem(val[1], val[0], '')
        img(src="./assets/images/values/values-slide-image03.jpg" data-mob="./assets/images/values/values-slide-image-mob03.jpg")
      .slide(data-slide)
        span.values-slider__number 04
        ul.slide__content
          li.title.uppercased Цінності
          li.subtitle-small.black.uppercased Синергія
          each val in valueSymergy
            +infoItem(val[1], val[0], '')
        img(src="./assets/images/values/values-slide-image04.jpg" data-mob="./assets/images/values/values-slide-image-mob04.jpg")
  // -----------------------------------
  section.home-section.home-section-custom-2
    h2.title_type_2.title--white.uppercased
      span kyїvproekt city space 
      span тут народжуються тренди
    .custom-subtitle.yellow.uppercased Комерційний простір
    ul.info-list-custom_2
      each v, i in [1, 2, 3, 4]
        li !{customText1[i]}
    .custom-subtitle.yellow.accordeons-subtitle KYЇVPROEKT CITY SPACE складається з семи елементів, які доповнюють один одно-го:
    .accordeon-list 
      each val in accordeonItems
        .accordeon-item(data-accordeon)
          .accordeon-item__title.uppercased #{val}
          <svg class="accordeon-item__decor" width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <line data-hidden-while-opened x1="12.7646" x2="12.7646" y2="25" stroke="white" stroke-width="2"/>
            <line x1="25" y1="13.5" x2="-8.74228e-08" y2="13.5" stroke="white" stroke-width="2"/>
            </svg>
          ul.accordeon-item__inner
            li Простір для лекцій, конференцій, презентацій, громадських дискусій
            li Освітня платформа
            li Коворкінг
    a(href="#").tdn.button-circle.button-circle--black.home-section-custom-2__btn
      <svg width="71" class='button-circle__ico' height="52" viewBox="0 0 71 52" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="45" cy="26" r="25"/>
        <path d="M0 25.5L45 25.5M45 25.5L38.3182 18M45 25.5L38.3182 33"/>
      </svg>
  +img('home/custom-1--bottom.jpg').home-section.home-section-custom-2__img
  // -----------------------------------
  section.home-section.home-section-developers
    .title-wrap
      h2.title Забудовники
    ul.home-section-developers-list.df
      li.home-section-developers-item
        +img('logo-perfect.svg').home-section-developers-item__img.logo-perfect--size
        h5.home-section-developers-item__title Perfect Group
        p.home-section-developers-item__text 30 компаній ринку нерухомості, які об'єднані під цим брендом, забезпечують повний цикл робот – від початку до повного завершення будівництва.
      li.home-section-developers-item
        +img('logo-saga.svg').home-section-developers-item__img.logo-saga--size
        h5.home-section-developers-item__title Saga development
        p.home-section-developers-item__text Глобальна мета компанії – розвивати міста, спираючись на екосистему партнерства. Втілювати інноваційні та креативні рішення для комфортного життя поколінь.
  // -----------------------------------
  section.home-section.home-section-appartments
    .title-wrap
      h2.title Квартири
    p.home-section-appartments__subtitle Об'єднуємо таланти заради позитивної трансформації Києва
    +a('Дивитися розділ')
  // -----------------------------------
  // -----------------------------------

  // ------------------
  section.home-section.home-section-contact
    .title-wrap
      h2.title Контакти
    .contact-block
      .contact-block__l
        address.home-contact--width.contact-location.df.fdc.aifs
          span.contact-location__label Розташування:
          p.contact-location__adress Київ, Шевченківський район, вул. Богдана Хмельницкого, 16-22
          +a('Показати на Google Maps', "https://goo.gl/maps/FzURhcCMKHm3cupV6")(rel="nofollow" target="_blank").home-section-appartments__btn

        .home-contact--width.contact-schedule.df.fww
          span.contact-schedule__label.w100p Відділ продажів:
          .contact-schedule-l.df.fdc
            a(href="tel:+1234567890").contact-schedule__phone +1234567890
            a(href="mailto:info@kyivproekt.ua").contact-schedule__mail.underline info@kyivproekt.ua
          .contact-schedule-r
            ul.contact-schedule__time
              li Пн-пт: 09:00-19:00
              li Сб: 09:00-17:00
              li Вс: вихідний
      .contact-block__r
        h5.form-label.home-contact--width Залишились питання?
        form(data-home-contact autocomplete="off").home-contact--width
          .form-field-message Введіть ваше ім’я 
          .form-field.form-field-input(data-field-input data-field-name data-status="field--inactive")
            input(type='text' name="name" placeholder="Ім’я:").form-field__input
            .input-message(data-input-message)
            .requaired-block-ico.requaired-block-ico--position
              +svg('requaired')
          
          .form-field-message Введіть ваш телефон
          .form-field.disabled.form-field-input(data-field-input data-field-phone data-status="field--inactive")
            input(type='text' name="phone" placeholder="Телефон:").form-field__input
            .input-message(data-input-message)
            .requaired-block-ico.requaired-block-ico--position
              +svg('requaired')
            .mask-absolute.js-mask-absolute
          
          .form-textarea
            .form-field-message Введіть ваше повідомлення
            textarea(placeholder="Повідомлення:")
          
          .form-btn-wrap.df.jcsb.aic
            .requaired-block.df
              .requaired-block__ico
                +svg('requaired')
              .requaired-block__text обов’язкові поля для
                br
                | заповнення
            +btn('Надіслати')(type="submit" data-btn-submit).home-contact-btn--size
        
  
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
