
extends ../layout/main
block variable
  -
    var title_page = 'Відпочивати'
    var id_page = 'id-page-leisure-page'
    var class_page = 'class-page-leisure-page'
    var breadcrumbsSubitem = [
      {
        label: 'About',
        link: pagesLink[0].about
      }
    ]
    var contentList = [
      ['leisure-icon_01'],
      ['leisure-icon_02'],
      ['leisure-icon_03'],
      ['leisure-icon_04'],
      ['leisure-icon_05'],
    ]
    var contentListText = [
      ['KYЇVPROEKT CITY SPACE у будинку – ідеальне місце для шопінгу.'],
      ['KITCHEN LAB у будинку: велика кількість кафе і ресторанів під одним дахом.'],
      ['Десятки магазинів, торгівельних центрів, кафе, ресторанів та нічних клубів поряд.'],
      ['Головна київська променада, вулиця Хрещатик – 2 хвилини пішки.'],
      ['Чудові місця для пробіжок поблизу: парк ім. Шевченка, Ботанічний сад ім. Фоміна.'],
    ];
    contentListImages = [
      './assets/images/leisure-page/attractive-elegant-young-couple-drinking-cocktail-160632413.jpg',
      './assets/images/leisure-page/beautiful-caucasian-couple-running-together-outdoor-654951058.jpg',
      './assets/images/leisure-page/kyiv-ukraine-may-27-2020-independence-1751767751.jpg',
      './assets/images/leisure-page/logan-weaver-neTbsT6n4tI-unsplash\ 5.jpg',
      './assets/images/leisure-page/logan-weaver-neTbsT6n4tI-unsplash\ 6.jpg',
      './assets/images/leisure-page/side-view-couple-looking-through-store-1137839798.jpg',
    ]
  
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/leisure-page.js')
block content
  include ../includes/breadcrumbs.pug
  img(src=contentListImages[0]).front-block__bg
  .page-part.front-block(data-displacement="./assets/images/leisure-page/displacement.jpg")
    ul
      li 
        h1.page-title #{title_page}
      each val,index in contentList
        +infoItem(contentListText[index][0], val[0], 'half-opacity')(data-info-item-anim data-hover-image=contentListImages[index])
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
