
extends ../layout/main
block variable
  -
    var title_page = 'Відпочивати'
    var id_page = 'id-page-leisure-page'
    var class_page = 'class-page-leisure-page'
    var breadcrumbsSubitem = [
      {
        label: 'About',
        link: pagesLink[0].about
      }
    ]
    var contentList = [
      ['leisure-icon_01'],
      ['leisure-icon_02'],
      ['leisure-icon_03'],
      ['leisure-icon_04'],
      ['leisure-icon_05'],
    ]
    var contentListText = [
      ['KYЇVPROEKT CITY SPACE у будинку – <span class="bold">ідеальне місце для шопінгу.</span>'],
      ['<span class="bold">KITCHEN LAB у будинку:</span> велика кількість кафе і ресторанів під одним дахом.'],
      ['<span class="bold">Десятки магазинів,</span> торгівельних центрів, кафе, ресторанів та нічних клубів поряд.'],
      ['<span class="bold">Головна київська променада,</span> вулиця Хрещатик – 2 хвилини пішки.'],
      ['<span class="bold">Чудові місця для пробіжок поблизу:</span> парк ім. Шевченка, Ботанічний сад ім. Фоміна.'],
    ];
    contentListImages = [
      './assets/images/leisure-page/couple-in-street.jpg',
      './assets/images/leisure-page/couple.jpg',
      './assets/images/leisure-page/night-render.jpg',
      './assets/images/leisure-page/kreshatik.jpg',
      './assets/images/leisure-page/runing.jpg',
    ]
  
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/leisure-page.js')
block content
  include ../includes/breadcrumbs.pug
  img(src=contentListImages[0]).front-block__bg
  .page-part.front-block(data-displacement="./assets/images/leisure-page/displacement.jpg")
    ul.front-block__text-wrap
      li 
        h1.page-title #{title_page}
      each val,index in contentList
        +infoItem(contentListText[index][0], val[0], 'half-opacity')(data-info-item-anim data-hover-image=contentListImages[index])
    .front-block__canvas-wrap
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
