
extends ../layout/main
block variable
  -
    var title_page = 'location'
    var id_page = 'id-page-location'
    var class_page = 'class-page-location'
    var breadcrumbsSubitem = [
      {
        label: 'About',
        link: pagesLink[0].about
      }
    ]
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/location.js')
  
block content
  include ../components/map/map.pug
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
