.footer {
  padding: 25px var(--page-side-fields);
  align-items: flex-start;
  border:none;
  @include to(575px){
    .footer-dev {
      flex-direction: column;
      align-items: flex-end;
    }
    .footer-dev__text {
      margin-right: 0;
    }
    .underline::after {
      bottom: 0;
    }
  }
}