@import './assets/vars';  // переменные
@import './assets/smart-grid';  // mixins smartgrid.js
// libraries
@import './libs';

// assets
@import './assets/mixins';  // миксины
@import './assets/fonts';  // шрифты
@import './assets/base';  // общие стили
@import './assets/animation';  // анимации
@import './assets/class'; // main style
@import './assets/interface'; // main style


// sass dima
@import './header';
@import './footer';
@import './404';
@import './loader';


@import '../../pug/components/form/form';
@import '../../pug/components/toster/toster';
@import '../../pug/components/popup/popup';
@import '../../pug/components/map/map';

.df{
  display: flex;
}
.jcc{
  justify-content: center;
}
.aifs {
  align-items: flex-start;
}
.aic{
  align-items: center;
}
.jcsb{
  justify-content: space-between;
}
.fww{
  flex-wrap: wrap;
}
.fdc{
  flex-direction: column;
}
.w50p{
  width: 50%;
}
.w100p{
  width: 100%;
}
.contact-block{
  display: flex;
  &__l, &__r{
    width: 50%;
  }
}
.tdn{
  text-decoration: none;
}

.button-circle--white{
  path, circle{
    stroke: white;
  }
}
.button-circle--black{
  path, circle{
    stroke: black;
  }
}

.title-wrap{
  display: flex;
  justify-content: center;
}

.info-list-item--white{
  .info-list-item__ico{
    svg {
      fill: white;
    }
  }
  .info-list-item__text{
    color: $color-gray;
    b{
      color: $color-white;
    }
  }
}
.info-list-item--black{
  .info-list-item__ico {
    color: $color-technology;
    b{
      color: $color-technology;
    }

  }
  .info-list-item__text {
  }
}
.info-list-item{
  display: flex;
  max-width: min(vw(340), 340px);
  margin: 0 min(vw(60), 60px);
  align-items: center;
  min-height: 110px;
  padding: 30px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  &__ico{
    display: flex;
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    svg{
      width: 100%;
      height: 100%;
    }
  }
  &__text{
    padding-left: 40px;
    font-size: 12px;
    

  }
  
}

@import './assets/templates'; // main style
@import './pages/home.scss';
@import './pages/location.scss';
