@import './assets/vars';  // переменные
@import './assets/smart-grid';  // mixins smartgrid.js
// libraries
@import './libs';

// assets
@import './assets/mixins';  // миксины
@import './assets/fonts';  // шрифты
@import './assets/base';  // общие стили
@import './assets/animation';  // анимации
@import './assets/class'; // main style
@import './assets/interface'; // main style
@import './assets/templates'; // main style


// sass dima
@import './header';
@import './footer';
@import './404';
@import './loader';

@import './pages/home.scss';
@import '../../pug/components/form/form';
@import '../../pug/components/toster/toster';


.contact-block{
  display: flex;
  &__l, &__r{
    width: 50%;
  }
}

.title-wrap{
  display: flex;
  justify-content: center;
}
