@import './assets/vars';  // переменные
@import './assets/smart-grid';  // mixins smartgrid.js
// libraries
@import './libs';

// assets
@import './assets/mixins';  // миксины
@import './assets/fonts';  // шрифты
@import './assets/base';  // общие стили
@import './assets/animation';  // анимации
@import './assets/class'; // main style
@import './assets/interface'; // main style
@import './assets/templates'; // main style


// sass dima
@import './header';
@import './footer';
@import './404';
@import './loader';

@import './pages/home.scss';
@import '../../pug/components/form/form';
@import '../../pug/components/toster/toster';


.contact-block{
  display: flex;
  &__l, &__r{
    width: 50%;
  }
}
.tdn{
  text-decoration: none;
}

.button-circle--white{
  path, circle{
    stroke: white;
  }
}
.button-circle--black{
  path, circle{
    stroke: black;
  }
}

.title-wrap{
  display: flex;
  justify-content: center;
}

.info-list-item--white{
  .info-list-item__ico{

  }
  .info-list-item__text{
    color: $color-gray;
    b{
      color: $color-white;
    }
  }
}
.info-list-item--black{
  .info-list-item__ico {
    color: $color-technology;
    b{
      color: $color-technology;
    }

  }
  .info-list-item__text {
  }
}
.info-list-item{
  display: flex;
  align-items: center;
  &__ico{
    width: 50px;
    height: 50px;
    svg{
      width: 100%;
      height: 100%;
    }
  }
  &__text{
    font-size: 12px;
    

  }
  
}
